<div class="w-full flex justify-center">
  <div class="w-full p-0">
    <form
      *ngIf="formData"
      [formGroup]="formData"
      (ngSubmit)="guardar()"
      class="space-y-4 w-full rounded-xl"
    >
      <p-fieldset legend="Información básica">
        <div class="grid grid-cols-1 gap-4">
          <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
            <!-- Nombre -->
            <div>
              <label for="nombre" class="block text-sm font-medium mb-1"
                >Nombre <span class="text-xs">*</span></label
              >
              <input
                id="nombre"
                type="text"
                pInputText
                formControlName="nombre"
                placeholder="Ingrese nombre"
                class="w-full p-inputtext-sm"
              />
            </div>

            <!-- Descripción -->
            <div>
              <label for="descripcion" class="block text-sm font-medium mb-1"
                >Descripción</label
              >
              <textarea
                id="descripcion"
                rows="3"
                formControlName="descripcion"
                placeholder="Ingrese descripción"
                class="w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 text-sm p-2 resize-none"
              ></textarea>
            </div>
          </div>

          <div class="flex items-center justify-center gap-4">
            <!-- Fecha inicio -->
            <div>
              <label for="fecha_inicio" class="block text-sm font-medium mb-1"
                >Fecha de inicio <span class="text-xs">*</span></label
              >
              <p-datepicker
                id="fecha_inicio"
                formControlName="fecha_inicio"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                appendTo="body"
              ></p-datepicker>
            </div>

            <!-- Fecha fin -->
            <div>
              <label for="fecha_fin" class="block text-sm font-medium mb-1"
                >Fecha de fin <span class="text-xs">*</span></label
              >
              <p-datepicker
                id="fecha_fin"
                formControlName="fecha_fin"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                appendTo="body"
              ></p-datepicker>
            </div>

            <!-- Fecha Vigencia -->
            <div>
              <label for="fecha_vigencia" class="block text-sm font-medium mb-1"
                >Fecha de vigencia <span class="text-xs">*</span></label
              >
              <p-datepicker
                id="fecha_vigencia"
                formControlName="fecha_vigencia"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                appendTo="body"
              ></p-datepicker>
            </div>

            
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <div>
              <label
                for="id_estado_campania"
                class="block text-sm font-medium mb-1"
                >Estado <span class="text-xs">*</span></label
              >
              <p-dropdown
                [options]="estadoCampanias"
                formControlName="id_estado_campania"
                optionLabel="nombre"
                optionValue="id"
                placeholder="Seleccionar Estado"
                class="w-full mb-3"
                appendTo="body"
              ></p-dropdown>
            </div>

            <div>
              <label
                for="id_area_campania"
                class="block text-sm font-medium mb-1"
                >Área <span class="text-xs">*</span></label
              >
              <p-dropdown
                [options]="areaCampanias"
                formControlName="id_area_campania"
                optionLabel="name"
                optionValue="id"
                placeholder="Seleccionar Área"
                class="w-full mb-3"
                appendTo="body"
              ></p-dropdown>
            </div>

            <div>
              <label
                for="id_tipo_campania"
                class="block text-sm font-medium mb-1"
                >Tipo de Campaña <span class="text-xs">*</span></label
              >
              <div class="flex flex-wrap gap-4">
                <div
                  *ngFor="let item of tiposCampanias"
                  class="flex items-center"
                >
                  <p-radiobutton
                    value="{{ item.id }}"
                    formControlName="id_tipo_campania"
                    inputId="ingredient1{{ item.id }}"
                  />
                  <label for="ingredient1{{ item.id }}" class="ml-2">{{
                    item.name
                  }}</label>
                </div>
              </div>
            </div>

          <div
              *ngIf="formData.value.id_tipo_campania == 3"
              class="grid grid-cols-1 md:grid-cols-3 gap-4"
            >
              <!-- ID VICIDIAL -->
              <div>
                <label for="campaniaId" class="block text-sm font-medium mb-1">
                  Id Campaña VICIDIAL
                </label>
                <input
                  id="campaniaId"
                  type="text"
                  pInputText
                  formControlName="campaniaId"
                  [disabled]="editarCampania"
                  placeholder="Ingrese un Id"
                  class="w-full p-inputtext-sm"
                />
              </div>

              <!-- Horario inicio -->
              <div>
                <label for="horario_inicio" class="block text-sm font-medium mb-1">
                  Horario de inicio
                </label>
                <p-calendar
                  id="horario_inicio"
                  formControlName="horario_inicio"
                  [timeOnly]="true"
                  hourFormat="24"
                  [showIcon]="true"
                  appendTo="body"
                  inputStyleClass="p-inputtext-sm custom-calendar-input"
                ></p-calendar>
              </div>

              <!-- Horario fin -->
              <div>
                <label for="horario_fin" class="block text-sm font-medium mb-1">
                  Horario de fin
                </label>
                <p-calendar
                  id="horario_fin"
                  formControlName="horario_fin"
                  [timeOnly]="true"
                  hourFormat="24"
                  [showIcon]="true"
                  appendTo="body"
                  inputStyleClass="p-inputtext-sm custom-calendar-input"
                ></p-calendar>
              </div>

              

              <div class="flex flex-col gap-1 -mt-3">
                <!-- Etiqueta arriba -->
                <label for="feriados" class="block text-sm font-medium mb-1">
                  Feriados
                </label>

                <!-- Checkbox + descripción -->
                <div class="flex items-center gap-2">
                  <p-checkbox 
                    formControlName="feriado" 
                    inputId="feriados" 
                    binary="true">
                  </p-checkbox>

                  <span class="text-xs text-gray-600 italic">
                    (los feriados declarados en el módulo de ajustes se aplicarán a esta campaña)
                  </span>
                </div>
              </div>

              <!-- Día de inicio -->
              <div class="mt-2">
                <label for="dia_inicio" class="block text-sm font-medium mb-1">
                  Día de inicio
                </label>
                <p-dropdown
                  inputId="dia_inicio"
                  formControlName="dia_inicio"
                  [options]="daysWeek()"
                  optionLabel="name"
                  optionValue="number"
                  placeholder="Seleccionar día de inicio"
                  class="w-full"
                  appendTo="body">
                </p-dropdown>
              </div>

              <!-- Día de fin -->
              <div class="mt-2">
                <label for="dia_fin" class="block text-sm font-medium mb-1">
                  Día de fin
                </label>
                <p-dropdown
                  inputId="dia_fin"
                  formControlName="dia_fin"
                  [options]="daysWeek()"
                  optionLabel="name"
                  optionValue="number"
                  placeholder="Seleccionar día de fin"
                  class="w-full"
                  appendTo="body">
                </p-dropdown>
              </div>
            </div>

          </div>
        </div>
      </p-fieldset>

      <!-- Botones -->
      <div class="pt-4 flex justify-end space-x-2">
        <button-cancel (click)="onCancel()" />
        <p-button
          type="submit"
          size="small"
          [label]="id ? 'Actualizar' : 'Guardar'"
          styleClass="w-full !rounded-full !shadow-none"
          severity="primary"
          [disabled]="formData.invalid"
        >
          <iconify-icon icon="ci:save" class="text-xl"></iconify-icon>
        </p-button>
      </div>
    </form>
  </div>
</div>
