<div class="space-y-6 px-3">
  <!-- Encabezado -->
  <div class="bg-white shadow-lg rounded-xl p-4">
    <h5 class="text-2xl font-semibold">Plantillas - Correo</h5>
    <div class="flex flex-col w-full gap-3 text-n-slate-11">
      <p
        class="mb-0 text-sm font-normal line-clamp-5 sm:line-clamp-none max-w-3xl text-gray-600"
      >
        Configura las plantillas para las campañas de correo
      </p>
    </div>
  </div>

  <div class="grid grid-cols-5 gap-6">
    <!-- COLUMNA 1 -->
    <div class="col-span-2 grid gap-4">
      <div class="bg-white rounded-xl shadow-xl">
        <form [formGroup]="formDataEncabezado">
          <!-- Encabezados Email-->
          <div class="pt-6 px-6">
            <p class="font-semibold text-lg">Encabezados del Correo</p>
          </div>

          <div class="grid grid-cols-1 gap-4 items-center px-6 pb-4 pt-2">
            <div class="flex flex-col gap-2">
              <label for="nombre" class="block text-sm font-medium"
                >Asunto <span class="text-xs">*</span></label
              >
              <input id="asunto" pInputText formControlName="asunto" />
            </div>
            <div class="flex flex-col gap-2">
              <label for="nombre" class="block text-sm font-medium"
                >Remitente <span class="text-xs">*</span></label
              >
              <p-select
                [options]="remitentes"
                formControlName="idRemitente"
                optionLabel="label"
                optionValue="id"
                placeholder="Seleccione"
                appendTo="body"
              >
              </p-select>
            </div>
          </div>
        </form>

        <div class="grid grid-cols-1 gap-2 items-center px-6">
          <!-- Contenido HTML del correo -->
          <div class="">
            <p class="font-semibold text-lg">Contenido del correo</p>
          </div>
          <div class="flex flex-col gap-2">
            <label for="nombre" class="block text-sm font-medium"
              >Contenido <span class="text-xs">*</span></label
            >
            <textarea
              rows="3"
              cols="30"
              pTextarea
              [(ngModel)]="value"
              class="!rounded-lg"
            ></textarea>
          </div>
          <div class="flex gap-2 pt-2">
            <p-button
              size="small"
              label="Actualizar HTML"
              severity="info"
              [raised]="true"
              styleClass="w-full !rounded-full !shadow-none"
            >
              <iconify-icon
                [icon]="'hugeicons:system-update-01'"
                class="text-xl"
              />
            </p-button>
            <p-button
              size="small"
              label="Editar Plantilla HTML"
              severity="primary"
              [outlined]="true"
              [raised]="true"
              styleClass="w-full !rounded-full !shadow-none"
              (onClick)="abrirEditor()"
            >
              <iconify-icon [icon]="'ic:twotone-edit'" class="text-xl" />
            </p-button>
          </div>
        </div>

        <!-- Plantillas -->
        <div class="p-6">
          <form [formGroup]="formDataPlantilla">
            <div class="">
              <p class="font-semibold text-lg">Plantillas</p>
            </div>

            <div class="grid grid-cols-1 gap-4 items-center">
              <div class="flex flex-col gap-2 mt-2">
                <label for="nombre" class="block text-sm font-medium mb-1"
                  >Plantilla <span class="text-xs">*</span></label
                >
                <p-select
                  [options]="remitentes"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Seleccione su plantilla"
                  formControlName="idPlantilla"
                  appendTo="body"
                >
                </p-select>
              </div>
              <div class="flex flex-col gap-2">
                <p-button
                  size="small"
                  label="Usar Plantilla"
                  severity="warn"
                  [raised]="true"
                  styleClass="!rounded-full !shadow-none"
                >
                  <iconify-icon
                    [icon]="'material-symbols:fact-check-outline-rounded'"
                    class="text-xl"
                  />
                </p-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- COLUMNA 2 -->
    <div class="col-span-3">
      <div class="bg-white rounded-xl shadow-xl p-6">
        <!-- Programar Envío -->
        <form [formGroup]="formDataProgramEnvio">
          <div class="grid grid-cols-1 gap-4 items-center p-2">
            <div class="grid grid-cols-1 gap-4 items-center">
              <p class="font-bold text-xl text-center uppercase">
                Programar Envío
              </p>

              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
                <div class="flex flex-col gap-2">
                  <label for="nombre" class="block text-sm font-medium mb-1"
                    >Enviar el <span class="text-xs">*</span></label
                  >
                  <p-datepicker
                    formControlName="fechaEnvio"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="icondisplay"
                    styleClass="w-full"
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <label for="nombre" class="block text-sm font-medium mb-1"
                    >Hora <span class="text-xs">*</span></label
                  >
                  <p-datepicker
                    formControlName="horaEnvio"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    [timeOnly]="true"
                    inputId="templatedisplay"
                    styleClass="w-full"
                  >
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                      <iconify-icon
                        (click)="clickCallBack($event)"
                        [icon]="'lets-icons:time'"
                        class="text-xl"
                      />
                    </ng-template>
                  </p-datepicker>
                </div>
              </div>
            </div>

            <div class="flex gap-2">
              <p-button
                size="small"
                label="Aprobar y Programar"
                severity="primary"
                [raised]="true"
                styleClass="!rounded-full !shadow-none"
              >
                <iconify-icon
                  [icon]="'simple-line-icons:check'"
                  class="text-xl"
                />
              </p-button>
              <p-button
                size="small"
                label="Pausar"
                severity="danger"
                [raised]="true"
                styleClass="!rounded-full !shadow-none"
              >
                <iconify-icon [icon]="'carbon:pause-outline'" class="text-xl" />
              </p-button>
            </div>
          </div>
        </form>

        <!-- Arte Contenido HTML -->
        <div class="flex justify-between items-center px-4 py-2">
          <div>
            <p class="font-semibold text-lg">Arte / Contenido / HTML</p>
          </div>

          <div class="flex gap-2">
            <p-button
              size="small"
              label="Descargar HTML"
              severity="info"
              [raised]="true"
              styleClass="w-full !rounded-full !shadow-none"
            >
              <iconify-icon [icon]="'prime:download'" class="text-xl" />
            </p-button>
            <p-button
              size="small"
              label="Ver Detalles"
              severity="primary"
              [outlined]="true"
              [raised]="true"
              styleClass="w-full !rounded-full !shadow-none"
            >
              <iconify-icon [icon]="'clarity:details-line'" class="text-xl" />
            </p-button>
          </div>
        </div>

        <!-- Adjuntos -->
        <div class="p-4">
          <div class="pb-3">
            <p class="font-semibold text-lg">Adjuntos | Max 20 MB cada uno</p>
          </div>

          <div class="grid grid-cols-1 gap-4 items-center">
            <div
              class="flex border rounded-xl border-gray-300 justify-between gap-2 p-2 items-center"
            >
              <label class="text-md pl-2" for="fechaHora">
                Base de datos
              </label>
              <p-fileupload
                #fu
                mode="basic"
                chooseLabel="Suba su archivo"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                (onUpload)="onUpload($event)"
                styleClass="text-sm"
                chooseStyleClass="p-button-sm text-xs rounded-md"
                ><iconify-icon
                  [icon]="'material-symbols:upload-rounded'"
                  class="text-xs"
              /></p-fileupload>
            </div>
            <div
              class="flex border rounded-xl border-gray-300 justify-between gap-2 p-2 items-center"
            >
              <label class="text-md pl-2" for="fechaHora"> Adjunto N° 2 </label>
              <p-fileupload
                #fu
                mode="basic"
                chooseLabel="Suba su archivo"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                (onUpload)="onUpload($event)"
                styleClass="text-sm"
                chooseStyleClass="p-button-sm text-xs rounded-md"
                ><iconify-icon
                  [icon]="'material-symbols:upload-rounded'"
                  class="text-xs"
              /></p-fileupload>
            </div>
            <div
              class="flex border rounded-xl border-gray-300 justify-between gap-2 p-2 items-center"
            >
              <label class="text-base pl-2" for="fechaHora"> Solicitud </label>
              <p-fileupload
                #fu
                mode="basic"
                chooseLabel="Suba su archivo"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                (onUpload)="onUpload($event)"
                styleClass="text-sm"
                chooseStyleClass="p-button-sm text-xs rounded-md"
                ><iconify-icon
                  [icon]="'material-symbols:upload-rounded'"
                  class="text-xs"
              /></p-fileupload>
            </div>
            <div
              class="flex border rounded-xl border-gray-300 justify-between gap-2 p-2 items-center"
            >
              <label class="text-md pl-2" for="fechaHora"> Otros </label>
              <p-fileupload
                #fu
                mode="basic"
                chooseLabel="Suba su archivo"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                (onUpload)="onUpload($event)"
                styleClass="text-sm"
                chooseStyleClass="p-button-sm text-xs rounded-md"
                ><iconify-icon
                  [icon]="'material-symbols:upload-rounded'"
                  class="text-xs"
              /></p-fileupload>
            </div>
          </div>
        </div>
        <!-- Enviar Campaña -->
        <div class="">
          <form [formGroup]="formDataEnvioCampania">
            <div class="grid grid-cols-1 gap-4 items-center px-6">
              <div class="flex items-center justify-start gap-2">
                <p-button
                  size="small"
                  label="Enviar Campaña"
                  severity="success"
                  [raised]="true"
                  styleClass="!rounded-full !shadow-none !w-full"
                >
                  <iconify-icon [icon]="'mynaui:send'" class="text-xl" />
                </p-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Editar Plantilla"
  [modal]="true"
  [(visible)]="this.openEditor"
  styleClass="modal-6xl"
>
  <div>
    <form
      #exampleForm="ngForm"
      (ngSubmit)="onSubmit(exampleForm)"
      class="flex flex-col gap-4"
    >
      <div class="flex flex-col gap-1">
        <p-editor
          #content="ngModel"
          [(ngModel)]="text"
          [invalid]="
            content.invalid && (content.touched || exampleForm.submitted)
          "
          name="content"
          [style]="{ height: '520px' }"
          required
        />
        @if (content.invalid && (content.touched || exampleForm.submitted)) {
        <p-message severity="error" size="small" variant="simple"
          >El contenido es requerido.</p-message
        >
        }
      </div>
      <p-button
        type="submit"
        size="small"
        label="Guardar Plantilla HTML"
        severity="primary"
        [raised]="true"
        styleClass="w-full !rounded-full !shadow-none"
        (onClick)="abrirEditor()"
      >
        <iconify-icon [icon]="'lucide:save'" class="text-lg" />
      </p-button>
    </form>
  </div>
</p-dialog>
