<div class="text-sm text-gray-800">
  <p class="mb-3">Selecciona un sectorista para asignar los casos.</p>

  <!-- Selector de sectorista -->
  <label class="block font-medium mb-1">Asignar a:</label>
  <p-dropdown
    [options]="listUsers"
    [(ngModel)]="selectedUser"
    optionLabel="name"
    placeholder="Seleccionar sectorista"
    class="w-full mb-3"
    (onChange)="calcularCarga($event.value)"
    appendTo="body"
  ></p-dropdown>

  <!-- Card resumen -->
  <div
    class="border-2 rounded-lg p-4 mb-4"
    [ngClass]="{
      'border-green-500': esAsignable,
      'border-red-500': !esAsignable
    }"
    *ngIf="selectedUser"
  >
    <div class="flex justify-between items-center">
      <strong>{{ selectedUser.name }}</strong>
      <span *ngIf="esAsignable" class="text-green-600 text-xl font-bold"
        >✔</span
      >
    </div>
    <p class="mt-1">Casos actuales: {{ selectedRowsAsignados.length }}</p>
    <p>Nuevos: +{{ selectedRows.length }} = {{ nuevaCarga }}</p>
    <!-- <p>
        Carga: {{ selectedUser.carga }}%
        →
        {{ nuevaCarga }}%
      </p>
      <p class="text-green-600 mt-2" *ngIf="esAsignable">✅ Asignable</p> -->
  </div>

  <!-- Motivo -->
  <!-- <label class="block text-sm font-medium mb-1">Motivo (opcional):</label>
  <textarea
    rows="3"
    [(ngModel)]="motivoAsignacion"
    placeholder="Escribe un motivo para la asignación..."
    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring"
  ></textarea> -->

  <!-- Botones -->
  <div class="flex justify-end gap-2 mt-5">
    <button
      pButton
      type="button"
      class="p-button-secondary"
      (click)="cerrarModal()"
    >
      Cancelar
    </button>
    <button
      pButton
      type="button"
      class="p-button-primary"
      [disabled]="!selectedUser"
      (click)="confirmarAsignacion()"
    >
      Confirmar Asignación
    </button>
  </div>
</div>
