<form
  [formGroup]="formData"
  (ngSubmit)="onSubmit()"
  class="grid grid-cols-1 gap-6"
>
  <div class="grid grid-cols-1 gap-2">
    <p-fieldset legend="Información de usuario">
      <div class="grid grid-cols-1 gap-2">
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="nameUser">
            Nombre completo <span class="text-xs">*</span>
          </label>
          <input id="nameUser" pInputText formControlName="name" />
          <div
            *ngIf="
              formData.controls.name.invalid && formData.controls.name.touched
            "
          >
            <small *ngIf="formData.controls.name.errors?.['required']">
              El nombre es requerido.
            </small>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="displayNameUser">
            Nombre a mostrar <span class="text-xs">*</span>
          </label>
          <input
            id="displayNameUser"
            pInputText
            formControlName="displayName"
          />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="emailUser">
            Correo electrónico <span class="text-xs">*</span>
          </label>
          <input
            id="emailUser"
            pInputText
            formControlName="email"
            (input)="changeEmail()"
          />
          <div
            *ngIf="
              formData.controls.email.invalid && formData.controls.email.touched
            "
          >
            <small *ngIf="formData.controls.email.errors?.['required']">
              El correo electrónico es requerido.
            </small>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="usernameUsuario">
            Contraseña <span class="text-xs">*</span>
          </label>
          <p-password
            [toggleMask]="true"
            [feedback]="false"
            class="w-full"
            styleClass="w-full"
            inputStyleClass="w-full"
            formControlName="password"
          />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="idRoleUser">
            Rol <span class="text-xs">*</span>
          </label>
          <p-select
            id="idRoleUser"
            [options]="listUsers"
            optionLabel="name"
            optionValue="id"
            formControlName="idRole"
            placeholder="Seleccione..."
            styleClass="capitalize"
            panelStyleClass="capitalize"
            appendTo="body"
          />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="idArea">
            Área <span class="text-xs">*</span>
          </label>
          <p-select
            id="idArea"
            [options]="listAreas"
            optionLabel="name"
            optionValue="id"
            formControlName="idArea"
            placeholder="Seleccione..."
            (ngModelChange)="changeArea()"
            appendTo="body"
          />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="idOficina">
            Oficina <span class="text-xs">*</span>
          </label>
          <p-select
            id="idOficina"
            [options]="listOficinas"
            optionLabel="name"
            optionValue="id"
            formControlName="idOficina"
            placeholder="Seleccione..."
            (ngModelChange)="changeOficina()"
            appendTo="body"
          />
        </div>
      </div>
    </p-fieldset>
    <p-fieldset
      *ngIf="formData.get('vicidial')?.enabled"
      legend="Ajustes de VICIdial"
    >
      <div class="grid grid-cols-1 gap-2" formGroupName="vicidial">
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="vicidialUser">
            Username del agente en VICIdial <span class="text-xs">*</span>
          </label>
          <input
            id="vicidialUser"
            pInputText
            formControlName="username"
            (input)="cleanUsername()"
          />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="vicidialUserPass">
            Password de usuario en VICIdial <span class="text-xs">*</span>
          </label>
          <input id="vicidialUserPass" pInputText formControlName="userPass" />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="vicidialPhoneLogin">
            Extensión/teléfono del agente <span class="text-xs">*</span>
          </label>
          <input
            id="vicidialPhoneLogin"
            pInputText
            formControlName="phoneLogin"
          />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="vicidialPhonePass">
            Password del teléfono SIP <span class="text-xs">*</span>
          </label>
          <input
            id="vicidialPhonePass"
            pInputText
            formControlName="phonePass"
          />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="vicidialUserLevel">
            Nivel de usuario (1=agente, 9=admin) <span class="text-xs">*</span>
          </label>
          <p-select
            id="vicidialUserLevel"
            [options]="listLevel"
            formControlName="userLevel"
            placeholder="Seleccione..."
            appendTo="body"
          />
        </div>
        <div class="grid grid-cols-1 gap-2">
          <label class="text-sm font-medium" for="vicidialUserGroup">
            Grupo del usuario (ej: AGENTS) <span class="text-xs">*</span>
          </label>
          <input
            id="vicidialUserGroup"
            pInputText
            formControlName="userGroup"
          />
        </div>
      </div>
    </p-fieldset>
  </div>
  <div class="flex justify-between gap-4">
    <div class="flex items-center gap-2 py-1">
      <p-toggleswitch formControlName="status" inputId="activeRole" />
      <label class="text-sm font-medium pb-1.5" for="activeRole">{{
        isActive ? "Activo" : "Inactivo"
      }}</label>
    </div>
    <p-button
      severity="primary"
      size="small"
      type="submit"
      [label]="id ? 'Actualizar' : 'Guardar'"
      [loading]="loading"
      [disabled]="formData.invalid"
      ><iconify-icon [icon]="'ci:save'" class="text-xl" />
    </p-button>
  </div>
</form>
