<!-- HEADER FINAL AJUSTADO -->
<header
  class="w-full h-16 bg-primary text-white flex items-center justify-between px-4 shadow fixed top-0 left-0 z-50"
>
  <div class="flex items-center w-fit">
    <!-- Logo texto SAT -->
    <div class="font-extrabold text-3xl italic tracking-wider ml-1">SAT</div>

    <!-- Botones separados más a la derecha -->
    <div class="flex items-center gap-4 ml-8">
      <!-- Botón abrir/cerrar sidebar -->
      <button class="text-white text-lg">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Grupo de botones redondos -->
      <div class="flex items-center gap-4 ml-8">
        <!-- Botón Side-Bar -->
        <button
          (click)="toggleSidebar()"
          class="w-12 h-12 rounded-full flex items-center justify-center bg-transparent hover:bg-white/10 active:bg-white/20 transition duration-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            viewBox="-5 -7 24 24"
          >
            <path
              fill="currentColor"
              d="M1 0h5a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2m7 8h5a1 1 0 0 1 0 2H8a1 1 0 1 1 0-2M1 4h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- <div
    class="hidden md:flex flex-1 items-center justify-center overflow-hidden mx-4 mr-20"
  >
    <div class="animate-marquee whitespace-nowrap text-base tracking-wide pr-6">
      Notificación enviada, esperando... &nbsp; - &nbsp; Tienes 7 Mensajes
      Nuevos... &nbsp; - &nbsp; Tienes 3 Chats Pospuestos &nbsp; - &nbsp;
      Notificación enviada, esperando...
    </div>
  </div> -->

  <div class="flex items-center gap-4 w-fit pr-4">
    <div class="relative">
      <button
        (click)="toggleReminders()"
        class="w-10 h-10 rounded-full flex items-center justify-center bg-[#2d4f7a] text-white shadow-md hover:shadow-lg hover:bg-[#375f95] active:scale-95 transition duration-200 relative cursor-pointer"
        aria-haspopup="true"
        [attr.aria-expanded]="isRemindersOpen()"
      >
        <iconify-icon [icon]="'carbon:reminder'" class="text-2xl" />

        <span
          *ngIf="allRemindersRead > 0"
          class="absolute -top-1 -right-1 bg-red-600 text-white text-[10px] font-bold rounded-full w-5 h-5 flex items-center justify-center shadow-sm"
        >
          {{ allRemindersRead }}
        </span>
        <!-- Badge -->
      </button>

      <div
        *ngIf="isRemindersOpen()"
        @dropdownAnimation
        class="absolute right-0 mt-3 w-[340px] bg-white/95 backdrop-blur-xl rounded-2xl shadow-[0_20px_50px_rgba(55,95,149,0.15)] border border-neutral-200 z-50 overflow-hidden"
        (click)="$event.stopPropagation()"
      >
        <!-- Header -->
        <div
          class="relative px-4 py-3 bg-gradient-to-br from-[#375f95] to-[#2b4a7d]"
        >
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2.5">
              <div
                class="w-8 h-8 rounded-xl bg-white/20 flex items-center justify-center"
              >
                <iconify-icon [icon]="'carbon:reminder'" class="text-xl" />
              </div>
              <div class="flex flex-col gap-0.0">
                <h3 class="text-white font-semibold text-sm">Recordatorios</h3>
                <span class="text-white/60 text-[10px]"
                  >{{ todayReminders?.length }} recordatorio{{
                    todayReminders?.length > 1 ? "s" : ""
                  }}</span
                >
              </div>
            </div>
            <div class="flex items-center gap-2">
              <button
                class="px-2.5 py-1 text-[10px] text-white/80 hover:text-white bg-white/10 hover:bg-white/20 rounded-lg transition-all"
                (click)="markAllRemindersAsRead()"
              >
                Marcar todas
              </button>
              <!-- <button
                class="w-8 h-8 flex items-center justify-center rounded-xl bg-white/20 hover:bg-white/30 text-white transition-all hover:scale-105 active:scale-95"
                (click)="openCreateReminder()"
                pTooltip="Nuevo recordatorio"
                tooltipPosition="bottom"
              >
                <iconify-icon [icon]="'mdi:plus'" class="text-xl" />
              </button> -->
            </div>
          </div>
        </div>

        <!-- Lista -->
        <div class="max-h-[320px] overflow-y-auto custom-scrollbar">
          <ng-container *ngIf="reminders?.length; else noNotes">
            <!-- Sección: Hoy -->
            <ng-container *ngIf="todayReminders?.length">
              <div
                class="px-4 py-2 bg-[#375f95]/10 border-b border-[#375f95]/20"
              >
                <div class="flex items-center gap-2">
                  <span
                    class="iconify text-blue-600"
                    data-icon="mdi:calendar-arrow-right"
                  ></span>
                  <span
                    class="text-xs font-bold text-blue-600 uppercase tracking-wide"
                    >Hoy</span
                  >
                  <span
                    class="text-[10px] text-white bg-blue-600 px-2 py-0.5 rounded-full font-medium"
                  >
                    {{ todayRemindersRead.length }}
                  </span>
                  <!-- <span
                    class="iconify text-[#375f95]"
                    data-icon="mdi:calendar-today"
                  ></span>
                  <span
                    class="text-xs font-bold text-[#375f95] uppercase tracking-wide"
                    >Hoy</span
                  > -->
                  <!-- <span
                    class="text-[10px] text-white bg-[#375f95] px-2 py-0.5 rounded-full font-medium"
                  >
                    {{ todayRemindersRead.length }}
                  </span> -->
                </div>
              </div>

              <div
                *ngFor="let n of todayReminders"
                (click)="markAllRemindersAsRead(n)"
                [class]="'group relative flex items-start gap-3 mx-2 my-2 p-3 pl-5 rounded-xl border transition-all cursor-pointer ' +
                         (!n.status ? 'bg-gray-50 hover:bg-gray-100 border-gray-200 opacity-60 before:content-[\'\'] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-1 before:rounded-l-xl before:bg-gray-300' :
                          'bg-white hover:bg-blue-50/50 border-gray-200 hover:border-[#375f95]/40 shadow-sm hover:shadow-md before:content-[\'\'] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-1 before:rounded-l-xl before:bg-[var(--sat-principal)]')"
              >
                <!-- Contenido -->
                <div class="flex-1 min-w-0">
                  <p [class]="'text-sm font-semibold leading-snug ' + (!n.status ? 'text-gray-500' : 'text-gray-800')">
                    {{ n.name }}
                  </p>
                  <p
                    *ngIf="n.description"
                    [class]="'text-xs leading-relaxed mt-1.5 ' + (!n.status ? 'text-gray-400' : 'text-gray-600')"
                  >
                    {{ n.description }}
                  </p>
                  <div class="flex items-center gap-2 mt-2">
                    <span
                      [class]="'text-[11px] flex items-center gap-1 font-medium ' + (!n.status ? 'text-gray-400' : 'text-[#375f95]')"
                    >
                      <span
                        class="iconify text-sm"
                        data-icon="mdi:clock-outline"
                      ></span>
                      {{ n.reminderAt | date : "shortTime" }}
                    </span>
                  </div>
                </div>

                <button
                  class="flex-shrink-0 w-8 h-8 flex items-center justify-center rounded-lg text-gray-400 hover:text-rose-600 hover:bg-rose-100 transition-all"
                  (click)="deleteReminder(n); $event.stopPropagation()"
                  pTooltip="Eliminar"
                  tooltipPosition="left"
                >
                  <iconify-icon
                    icon="mdi:trash-can-outline"
                    width="20"
                  ></iconify-icon>
                </button>
              </div>
            </ng-container>

            <!-- Sección: Próximos -->
            <ng-container *ngIf="upcomingReminders?.length">
              <div class="px-4 py-2 bg-blue-50 border-y border-blue-100 mt-1">
                <div class="flex items-center gap-2">
                  <span
                    class="iconify text-blue-600"
                    data-icon="mdi:calendar-arrow-right"
                  ></span>
                  <span
                    class="text-xs font-bold text-blue-600 uppercase tracking-wide"
                    >Próximos</span
                  >
                  <span
                    class="text-[10px] text-white bg-blue-600 px-2 py-0.5 rounded-full font-medium"
                  >
                    {{ upcomingRemindersRead.length }}
                  </span>
                </div>
              </div>

              <div
                *ngFor="let n of upcomingReminders"
                (click)="markAllRemindersAsRead(n)"
                [class]="'group relative flex items-start gap-3 mx-2 my-2 p-3 pl-5 rounded-xl border transition-all cursor-pointer ' +
                         (!n.status ? 'bg-gray-50 hover:bg-gray-100 border-gray-200 opacity-60 before:content-[\'\'] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-1 before:rounded-l-xl before:bg-gray-300' :
                          'bg-white hover:bg-blue-50/50 border-gray-200 hover:border-[#375f95]/40 shadow-sm hover:shadow-md before:content-[\'\'] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-1 before:rounded-l-xl before:bg-[var(--sat-principal)]')"
              >
                <!-- Contenido -->
                <div class="flex-1 min-w-0">
                  <p [class]="'text-sm font-semibold leading-snug ' + (!n.status ? 'text-gray-500' : 'text-gray-800')">
                    {{ n.name }}
                  </p>
                  <p
                    *ngIf="n.description"
                    [class]="'text-xs leading-relaxed mt-1.5 ' + (!n.status ? 'text-gray-400' : 'text-gray-600')"
                  >
                    {{ n.description }}
                  </p>
                  <div class="flex items-center gap-2 mt-2">
                    <span
                      [class]="'text-[11px] flex items-center gap-1 font-medium ' + (!n.status ? 'text-gray-400' : 'text-[#375f95]')"
                    >
                      <span
                        class="iconify text-sm"
                        data-icon="mdi:calendar-clock"
                      ></span>
                      {{ n.reminderAt | date : "short" }}
                    </span>
                  </div>
                </div>

                <button
                  class="flex-shrink-0 w-8 h-8 flex items-center justify-center rounded-lg text-gray-400 hover:text-rose-600 hover:bg-rose-100 transition-all"
                  (click)="deleteReminder(n); $event.stopPropagation()"
                  pTooltip="Eliminar"
                  tooltipPosition="left"
                >
                  <iconify-icon
                    icon="mdi:trash-can-outline"
                    width="20"
                  ></iconify-icon>
                </button>
              </div>
            </ng-container>

            <!-- Sección: Pasados -->
            <ng-container *ngIf="pastReminders?.length">
              <div class="px-4 py-2 bg-gray-100 border-y border-gray-200 mt-1">
                <div class="flex items-center gap-2">
                  <span
                    class="iconify text-blue-600"
                    data-icon="mdi:calendar-arrow-right"
                  ></span>
                  <span
                    class="text-xs font-bold text-blue-600 uppercase tracking-wide"
                    >Anteriores</span
                  >
                  <span
                    class="text-[10px] text-white bg-blue-600 px-2 py-0.5 rounded-full font-medium"
                  >
                    {{ pastRemindersRead.length }}
                  </span>
                  <!-- <span
                    [class]="(!n.status && pastRemindersRead.length <= 0 ? 'text-gray-500' : 'text-blue-600')"
                    data-icon="mdi:history"
                  ></span>
                  <span
                    [class]="'text-xs font-bold uppercase tracking-wide'+(!n.status && pastRemindersRead.length <= 0 ? 'text-gray-500' : 'text-blue-600')"
                    >Anteriores</span
                  >
                  <span
                  [class]="'text-[10px]  bg-gray-200 px-2 py-0.5 rounded-full font-medium'+(!n.status && pastRemindersRead.length <= 0 ? 'text-gray-500' : 'text-blue-600')"
                  >
                    {{ pastRemindersRead.length }}
                  </span> -->
                </div>
              </div>

              <div
                *ngFor="let n of pastReminders"
                (click)="markAllRemindersAsRead(n)"
                [class]="'group relative flex items-start gap-3 mx-2 my-1.5 p-2.5 pl-5 rounded-lg border transition-all cursor-pointer ' +
                         (!n.status ? 'bg-gray-50 hover:bg-gray-100 border-gray-200 opacity-60 before:content-[\'\'] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-1 before:rounded-l-lg before:bg-gray-300' :
                          'bg-white hover:bg-blue-50/50 border-gray-200 hover:border-[#375f95]/40 shadow-sm hover:shadow-md before:content-[\'\'] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-1 before:rounded-l-lg before:bg-[var(--sat-principal)]')"
              >
                <!-- Contenido -->
                <div class="flex-1 min-w-0">
                  <p [class]="'text-sm font-medium leading-snug ' + (!n.status ? 'text-gray-500' : 'text-gray-800')">
                    {{ n.name }}
                  </p>
                  <p
                    *ngIf="n.description"
                    [class]="'text-xs leading-relaxed mt-1 ' + (!n.status ? 'text-gray-400' : 'text-gray-600')"
                  >
                    {{ n.description }}
                  </p>
                  <span
                    [class]="'text-[11px] flex items-center gap-1 mt-1.5 ' + (!n.status ? 'text-gray-400' : 'text-[#375f95]')"
                  >
                    <span
                      class="iconify text-sm"
                      data-icon="mdi:calendar-clock"
                    ></span>
                    {{ n.reminderAt | date : "short" }}
                  </span>
                </div>

                <!-- Botón eliminar -->
                <button
                  class="flex-shrink-0 w-7 h-7 flex items-center justify-center rounded-lg text-gray-400 hover:text-rose-600 hover:bg-rose-100 transition-all"
                  (click)="deleteReminder(n); $event.stopPropagation()"
                  pTooltip="Eliminar"
                  tooltipPosition="left"
                >
                  <iconify-icon
                    icon="mdi:trash-can-outline"
                    width="18"
                  ></iconify-icon>
                </button>
              </div>
            </ng-container>
          </ng-container>

          <!-- Sin recordatorios -->
          <ng-template #noNotes>
            <div class="py-12 px-6 text-center">
              <div
                class="w-16 h-16 mx-auto mb-4 rounded-2xl bg-gray-100 flex items-center justify-center border border-gray-200"
              >
                <iconify-icon
                  icon="mdi:bell-off-outline"
                  width="40"
                  class="text-gray-400"
                ></iconify-icon>
              </div>
              <p class="text-sm text-gray-600 font-semibold">
                Sin recordatorios
              </p>
              <p class="text-xs text-gray-500 mt-1">
                Presiona <span class="text-[#375f95] font-bold">+</span> para
                crear uno
              </p>
            </div>
          </ng-template>
        </div>

        <!-- Footer -->
        <div
          class="px-4 py-2.5 bg-gray-50/80 border-t border-gray-100/80 flex justify-between items-center"
        >
          <span class="text-[11px] text-gray-400 flex items-center gap-1.5">
            <span class="iconify" data-icon="mdi:format-list-checks"></span>
            {{ reminders?.length || 0 }} total
          </span>
          <button
            class="text-[11px] text-[#375f95] hover:text-[#2b4a7d] font-medium transition flex items-center gap-1"
            (click)="isRemindersOpen.set(false)"
          >
            Cerrar
            <span class="iconify text-xs" data-icon="mdi:chevron-up"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="relative">
      <button
        (click)="toggleNotifications()"
        class="w-10 h-10 rounded-full flex items-center justify-center bg-[#2d4f7a] text-white shadow-md hover:shadow-lg hover:bg-[#375f95] active:scale-95 transition duration-200 relative cursor-pointer"
        aria-haspopup="true"
        [attr.aria-expanded]="isNotificationsOpen()"
      >
        <!-- Icono -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 512 512"
          class="transition-transform duration-200"
          [class.scale-110]="isNotificationsOpen()"
        >
          <path
            fill="currentColor"
            d="M440.08 341.31c-1.66-2-3.29-4-4.89-5.93c-22-26.61-35.31-42.67-35.31-118c0-39-9.33-71-27.72-95c-13.56-17.73-31.89-31.18-56.05-41.12a3 3 0 0 1-.82-.67C306.6 51.49 282.82 32 256 32s-50.59 19.49-59.28 48.56a3.1 3.1 0 0 1-.81.65c-56.38 23.21-83.78 67.74-83.78 136.14c0 75.36-13.29 91.42-35.31 118c-1.6 1.93-3.23 3.89-4.89 5.93a35.16 35.16 0 0 0-4.65 37.62c6.17 13 19.32 21.07 34.33 21.07H410.5c14.94 0 28-8.06 34.19-21a35.17 35.17 0 0 0-4.61-37.66M256 480a80.06 80.06 0 0 0 70.44-42.13a4 4 0 0 0-3.54-5.87H189.12a4 4 0 0 0-3.55 5.87A80.06 80.06 0 0 0 256 480"
          />
        </svg>

        <!-- Badge -->
        <span
          *ngIf="unreadCount > 0"
          class="absolute -top-1 -right-1 bg-red-600 text-white text-[10px] font-bold rounded-full w-5 h-5 flex items-center justify-center shadow-sm"
        >
          {{ unreadCount }}
        </span>
      </button>

      <div
        *ngIf="isNotificationsOpen()"
        @dropdownAnimation
        class="absolute right-0 mt-3 w-80 bg-white rounded-2xl shadow-2xl border border-gray-100 z-50 overflow-hidden transform origin-top transition-all duration-300 animate-fadeIn"
        (click)="$event.stopPropagation()"
      >
        <!-- Header -->
        <div
          class="flex items-center justify-between px-4 py-3 border-b border-gray-100 bg-gradient-to-r from-[#375f95]/10 to-[#375f95]/5"
        >
          <div class="flex items-center gap-2">
            <span class="text-[#375f95] text-lg">🔔</span>
            <strong class="text-[#375f95] text-sm tracking-wide uppercase"
              >Notificaciones</strong
            >
          </div>
          <!-- <button
            class="text-xs text-[#375f95]/70 hover:text-[#375f95] hover:underline transition"
            (click)="markAllAsRead()"
          >
            Marcar todas
          </button> -->
        </div>

        <!-- Lista -->
        <div class="max-h-72 overflow-y-auto divide-y divide-gray-100">
          <ng-container *ngIf="notifications?.length; else noNotes">
            <div
              *ngFor="let n of notifications"
              class="group px-4 py-3 flex items-start gap-3 hover:bg-[#375f95]/5 transition-all cursor-pointer"
            >
              <!-- Icono -->
              <div
                class="flex items-center justify-center w-8 h-8 rounded-full bg-[#375f95]/10 text-[#375f95] group-hover:bg-[#375f95]/20 transition-colors"
              >
                <i class="pi pi-bell text-sm"></i>
              </div>

              <!-- Contenido -->
              <div class="flex-1" (click)="viewMessage(n)">
                <p class="text-sm text-gray-700 leading-tight mb-1">
                  {{ n.message }}
                </p>
                <span class="text-xs text-gray-400">{{
                  n.createdAt | date : "short"
                }}</span>
              </div>

              <!-- Indicador de no leído -->
              <div
                *ngIf="!n.read"
                class="w-2 h-2 rounded-full bg-[#375f95] self-center animate-pulse"
              ></div>
            </div>
          </ng-container>

          <!-- Sin notificaciones -->
          <ng-template #noNotes>
            <div class="p-6 text-center text-sm text-gray-500">
              <i class="pi pi-inbox text-2xl text-gray-400 mb-2"></i>
              <p>No hay notificaciones por ahora.</p>
            </div>
          </ng-template>
        </div>

        <!-- Footer -->
        <div
          class="px-4 py-2 border-t bg-gray-50 flex justify-between items-center text-xs text-gray-500"
        >
          <span class="flex items-center gap-1">
            <i class="pi pi-eye text-gray-400 text-sm"></i>
            {{ unreadCount }} sin leer
          </span>
          <button
            class="text-[#375f95] hover:text-[#2b4a7d] hover:underline text-xs transition"
            (click)="isNotificationsOpen.set(false)"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>

    <div class="relative flex items-center gap-3 ml-4">
      <div class="flex flex-col text-right">
        <span class="font-semibold text-white capitalize">
          {{ displayName }}
        </span>
        <span class="text-xs text-gray-300 capitalize">
          {{ role }}
        </span>
      </div>

      <button
        (click)="toggleDropdown()"
        class="w-11 h-11 rounded-full flex items-center justify-center bg-transparent hover:bg-white/10 active:bg-white/20 transition duration-200 cursor-pointer"
      >
        <p-avatar
          shape="circle"
          size="normal"
          styleClass="w-8 h-8 flex items-center justify-center bg-green-200"
        >
          <span class="text-neutral-700 text-lg font-bold uppercase">
            {{ initials }}
          </span>
        </p-avatar>
      </button>

      <!-- Menú desplegable -->
      <div
        *ngIf="isDropdownOpen"
        @dropdownAnimation
        class="absolute right-0 top-full mt-2 w-64 bg-white shadow-lg rounded-md z-50 text-gray-800 overflow-hidden"
        style="
          border-bottom: 2px solid #375f95;
          box-shadow: 0 4px 12px rgba(55, 95, 149, 0.3);
        "
      >
        <!-- <button
                class="flex items-center gap-3 px-4 py-2 w-full text-left hover:bg-gray-100 transition rounded-none"
                (click)="toggleDropdown()"
              >
                <span class="w-5 h-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="#375f95"
                      fill-rule="evenodd"
                      d="M11.675 2.015a1 1 0 0 0-.403.011C6.09 2.4 2 6.722 2 12c0 5.523 4.477 10 10 10c4.356 0 8.058-2.784 9.43-6.667a1 1 0 0 0-1.02-1.33c-.08.006-.105.005-.127.005h-.001l-.028-.002A5 5 0 0 0 20 14a8 8 0 0 1-8-8c0-.952.121-1.752.404-2.558a1 1 0 0 0 .096-.428V3a1 1 0 0 0-.825-.985"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
                <span>Modo Oscuro</span>
              </button>
              <hr class="border-t border-gray-200" />

              <button
                class="flex items-center gap-3 px-4 py-2 w-full text-left hover:bg-gray-100 transition rounded-none"
                (click)="toggleDropdown()"
              >
                <span class="w-5 h-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="#375f95"
                      fill-rule="evenodd"
                      d="M4 19q-.825 0-1.412-.587T2 17V7q0-.825.588-1.412T4 5h16q.825 0 1.413.588T22 7v10q0 .825-.587 1.413T20 19zm5-3h6q.425 0 .713-.288T16 15t-.288-.712T15 14H9q-.425 0-.712.288T8 15t.288.713T9 16m-3-6q.425 0 .713-.288T7 9t-.288-.712T6 8t-.712.288T5 9t.288.713T6 10m3 0q.425 0 .713-.288T10 9t-.288-.712T9 8t-.712.288T8 9t.288.713T9 10m3 0q.425 0 .713-.288T13 9t-.288-.712T12 8t-.712.288T11 9t.288.713T12 10m3 0q.425 0 .713-.288T16 9t-.288-.712T15 8t-.712.288T14 9t.288.713T15 10m3 0q.425 0 .713-.288T19 9t-.288-.712T18 8t-.712.288T17 9t.288.713T18 10M6 13q.425 0 .713-.288T7 12t-.288-.712T6 11t-.712.288T5 12t.288.713T6 13m3 0q.425 0 .713-.288T10 12t-.288-.712T9 11t-.712.288T8 12t.288.713T9 13m3 0q.425 0 .713-.288T13 12t-.288-.712T12 11t-.712.288T11 12t.288.713T12 13m3 0q.425 0 .713-.288T16 12t-.288-.712T15 11t-.712.288T14 12t.288.713T15 13m3 0q.425 0 .713-.288T19 12t-.288-.712T18 11t-.712.288T17 12t.288.713T18 13"
                    />
                  </svg>
                </span>
                <span>Atajos de teclado</span>
              </button>
              <hr class="border-t border-gray-200" /> -->

        <button
          class="flex items-center gap-3 px-4 py-2 w-full text-left hover:bg-gray-100 transition rounded-none"
          (click)="toggleDropdown()"
        >
          <span class="w-5 h-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="#375f95"
                fill-rule="evenodd"
                d="M21.5 5.134a1 1 0 0 1 .493.748L22 6v13a1 1 0 0 1-1.5.866A8 8 0 0 0 13 19.6V4.426a10 10 0 0 1 8.5.708M11 4.427l.001 15.174a8 8 0 0 0-7.234.117l-.327.18l-.103.044l-.049.016l-.11.026l-.061.01L3 20h-.042l-.11-.012l-.077-.014l-.108-.032l-.126-.056l-.095-.056l-.089-.067l-.06-.056l-.073-.082l-.064-.089l-.022-.036l-.032-.06l-.044-.103l-.016-.049l-.026-.11l-.01-.061l-.004-.049L2 6a1 1 0 0 1 .5-.866a10 10 0 0 1 8.5-.707"
              />
            </svg>
          </span>
          <span>Guía de Usuario</span>
        </button>
        <hr class="border-t border-gray-200" />

        <!-- <button
                class="flex items-center gap-3 px-4 py-2 w-full text-left hover:bg-gray-100 transition rounded-none"
                (click)="toggleDropdown()"
              >
                <span class="w-5 h-5">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 48 48"
                  >
                    <defs>
                      <mask id="ipSConfig0">
                        <g fill="none" stroke-linejoin="round" stroke-width="4">
                          <path
                            fill="#fff"
                            stroke="#fff"
                            d="m24 4l-6 6h-8v8l-6 6l6 6v8h8l6 6l6-6h8v-8l6-6l-6-6v-8h-8z"
                          />
                          <path
                            fill="#000"
                            stroke="#000"
                            d="M24 30a6 6 0 1 0 0-12a6 6 0 0 0 0 12Z"
                          />
                        </g>
                      </mask>
                    </defs>
                    <path fill="#375f95" d="M0 0h48v48H0z" mask="url(#ipSConfig0)" />
                  </svg>
                </span>
                <span>Configuración</span>
              </button> -->
        <hr class="border-t border-gray-200" />

        <button
          class="flex items-center gap-3 px-4 py-2 w-full text-left hover:bg-gray-100 text-red-600 font-semibold transition rounded-none cursor-pointer"
          (click)="logout()"
        >
          <span class="w-5 h-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g fill="none">
                <path
                  d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                />
                <path
                  fill="#375f95"
                  fill-rule="evenodd"
                  d="M12 2.5a1.5 1.5 0 0 1 0 3H7a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h4.5a1.5 1.5 0 0 1 0 3H7A3.5 3.5 0 0 1 3.5 18V6A3.5 3.5 0 0 1 7 2.5Zm6.06 5.61l2.829 2.83a1.5 1.5 0 0 1 0 2.12l-2.828 2.83a1.5 1.5 0 1 1-2.122-2.122l.268-.268H12a1.5 1.5 0 0 1 0-3h4.207l-.268-.268a1.5 1.5 0 1 1 2.122-2.121Z"
                />
              </g>
            </svg>
          </span>
          <span>Cerrar sesión</span>
        </button>
      </div>
    </div>
  </div>
</header>
