<div class="flex flex-col gap-6 px-3 pb-2">
  <ng-container *ngIf="isLogged; else elseTemplate">
    <p-card *ngIf="!isInCall && !isInWrap" class="w-full rounded-md shadow-xl">
      <h2 class="text-lg font-semibold border-b pb-2 text-sky-700">
        Estado Actual
      </h2>
      <div class="flex flex-col items-center justify-center py-6">
        <h3
          [ngClass]="['text-2xl font-bold text-center mb-4', estado.textColor]"
        >
          <span class="flex items-center justify-center gap-2">
            <iconify-icon [icon]="estado.icon" class="text-2xl" />
            {{ estado.label }}
          </span>
        </h3>
        <div class="flex items-center justify-center gap-12 mb-6">
          <div class="text-center">
            <p class="text-xl font-mono">
              {{
                lastCallInfo?.updatedAt
                  ? (lastCallInfo?.updatedAt | date : "hh:mm:ss .a")
                  : "--:--"
              }}
            </p>
            <p class="text-sm text-gray-500">Última actividad</p>
          </div>
          <div class="text-center">
            <p class="text-xl font-mono">
              {{ lastCallInfo?.callsToday ?? "0" }}
            </p>
            <p class="text-sm text-gray-500">Llamadas hoy</p>
          </div>
        </div>
        <div class="flex gap-4">
          <p-button
            *ngIf="isInPaused"
            size="small"
            label="Cambiar a Disponible"
            severity="success"
            [raised]="true"
            (click)="changeAvailable()"
            styleClass="!rounded-full !shadow-none"
          >
            <iconify-icon [icon]="'heroicons-outline:pause'" class="text-xl" />
          </p-button>
          <p-button
            *ngIf="!isInPaused"
            size="small"
            label="Solicitar Pausa"
            severity="warn"
            [raised]="true"
            (click)="requestPause()"
            styleClass="!rounded-full !shadow-none"
          >
            <iconify-icon [icon]="'heroicons-outline:pause'" class="text-xl" />
          </p-button>
          <p-button
            size="small"
            label="Desconectar"
            severity="danger"
            [raised]="true"
            (click)="onLogout()"
            styleClass="!rounded-full !shadow-none"
          >
            <iconify-icon [icon]="'lucide:phone-off'" class="text-xl" />
          </p-button>
        </div>
      </div>
    </p-card>

    <ng-container *ngIf="isInCall || isInWrap || isInQueue">
      <div class="grid grid-cols-1 gap-4">
        <!-- Reconocimiento de llamada -->

        <p-card
          [styleClass]="
            loadingCitizen
              ? '!bg-sky-200 text-sky-700'
              : isInWrap
              ? '!bg-yellow-200 text-yellow-800'
              : !existCitizen
              ? '!bg-red-200 text-red-800'
              : '!bg-green-20 text-green-700'
          "
        >
          <div class="flex flex-col space-y-4">
            <div
              class="w-full rounded-lg p-3 text-center shadow transition-colors"
            >
              <p class="text-lg font-medium mb-2 text-gray-600">
                {{
                  !this.isInWrap
                    ? labelCall
                    : `Llamada finalizada ${(lastCallInfo?.updatedAt | timeAgo | lowercase)}`
                }}
              </p>
              <div
                class="text-2xl font-bold flex justify-center items-center gap-2"
              >
                <iconify-icon
                  [icon]="
                    isInWrap
                      ? 'mdi:phone-off-outline'
                      : loadingCitizen
                      ? 'svg-spinners:bars-rotate-fade'
                      : !existCitizen
                      ? 'gg:danger'
                      : 'gg:check-o'
                  "
                  class="text-2xl"
                ></iconify-icon>

                {{ callInfo?.phoneNumber ?? lastCallInfo?.phoneNumber }}
              </div>
            </div>
          </div>
        </p-card>

        <div class="grid grid-cols-2 gap-6">
          <!-- Control de Llamada -->
          <div>
            <div class="grid grid-cols-1 gap-6">
              <p-card *ngIf="existCitizen" styleClass="!bg-white">
                <ng-template #header>
                  <div class="px-5 pt-4 grid grid-cols-1 gap-2">
                    <div class="flex gap-2">
                      <p>Ciudadano:</p>
                      <h2 class="text-lg font-semibold text-gray-800">
                        {{ citizen?.vcontacto ?? "no encontrado" }}
                      </h2>
                    </div>
                    <div class="w-full border-t"></div>
                  </div>
                </ng-template>

                <div class="grid grid-cols-1">
                  <p class="font-medium text-gray-800">
                    N° {{ citizen?.vtipDoc }}
                  </p>
                  <p>{{ citizen?.vdocIde }}</p>
                </div>
              </p-card>
              <p-card
                [styleClass]="
                  isInPaused
                    ? '!bg-white'
                    : '!bg-orange-50 border border-yellow-300'
                "
              >
                <ng-template #header>
                  <div class="px-5 pt-4 grid grid-cols-1 gap-2">
                    <h2 class="text-lg font-semibold text-gray-800">
                      {{
                        isInCall
                          ? this.isInPark
                            ? "Llamada en espera"
                            : "Control de Llamada"
                          : "Llamada finalizada"
                      }}
                    </h2>
                    <div class="w-full border-t"></div>
                  </div>
                </ng-template>
                <div class="grid grid-cols-1 gap-2">
                  <div class="grid grid-cols-1 gap-1">
                    <p>
                      Tiempo transcurrido:
                      <strong>{{
                        isInCall
                          ? (callInfo?.entryDate | timeElapsed)
                          : (lastCallInfo?.seconds | duration)
                      }}</strong>
                    </p>
                    <p>
                      Hora de inicio:
                      <strong>{{
                        callInfo?.entryDate ?? lastCallInfo?.entryDate
                          | date : "hh:mm:ss"
                      }}</strong>
                    </p>
                  </div>
                  <div class="flex gap-2 justify-end">
                    <btn-custom
                      *ngIf="isInCall"
                      label="Enviar a encuesta"
                      severity="primary"
                      icon="fluent:video-person-call-32-regular"
                      [text]="false"
                    />
                    <btn-custom
                      *ngIf="isInCall"
                      [label]="this.isInPark ? 'Reanudar' : 'Aparcar'"
                      severity="primary"
                      icon="fluent:call-pause-20-regular"
                      [text]="false"
                      (click)="parkCall()"
                    />
                    <btn-custom
                      *ngIf="isInCall"
                      label="Transferir"
                      severity="primary"
                      icon="fluent:call-transfer-16-filled"
                      [text]="false"
                      (click)="transferCall()"
                    />
                    <btn-custom
                      *ngIf="isInCall"
                      label="Finalizar"
                      severity="danger"
                      icon="tdesign:call-off-filled"
                      [text]="false"
                      (click)="endCall()"
                    />
                  </div>
                </div>
              </p-card>
            </div>
          </div>

          <p-card class="grid grid-cols-1">
            <form [formGroup]="formDataAtencion" class="grid grid-cols-1 gap-6">
              <p-fieldset legend="Registro de Atención">
                <div class="flex flex-col gap-2">
                  <div class="flex flex-col gap-2">
                    <label class="text-sm font-medium" for="nameRole">
                      Tipo de Consulta: <span class="text-xs">*</span>
                    </label>
                    <p-select
                      id="roleuserId"
                      [options]="consultTypeList"
                      optionLabel="name"
                      optionValue="id"
                      formControlName="consultTypeId"
                      placeholder="Seleccione..."
                      styleClass="capitalize"
                      panelStyleClass="capitalize"
                      appendTo="body"
                    />
                  </div>
                  <div class="flex flex-col gap-2">
                    <label class="text-sm font-medium" for="name">
                      Nombre <span class="text-xs">*</span>
                    </label>
                    <input id="name" pInputText formControlName="name" />
                    <div
                      *ngIf="
                        formDataAtencion.controls.name.invalid &&
                        formDataAtencion.controls.name.touched
                      "
                    >
                      <small
                        *ngIf="formDataAtencion.controls.name.errors?.['required']"
                        >El nombre es requerido.</small
                      >
                    </div>
                  </div>
                  <div class="flex flex-col gap-2">
                    <label class="text-sm font-medium" for="tipDoc">
                      Tipo de Documento: <span class="text-xs">*</span>
                    </label>
                    <p-select
                      id="roleuserId"
                      [options]="typeIdeDocList"
                      optionLabel="code"
                      optionValue="code"
                      formControlName="tipDoc"
                      placeholder="Seleccione..."
                      appendTo="body"
                    />
                    <div
                      *ngIf="
                        formDataAtencion.controls.tipDoc.invalid &&
                        formDataAtencion.controls.tipDoc.touched
                      "
                    >
                      <small
                        *ngIf="formDataAtencion.controls.tipDoc.errors?.['required']"
                        >El tipo de documento es requerido.</small
                      >
                    </div>
                  </div>
                  <div class="flex flex-col gap-2">
                    <label class="text-sm font-medium" for="docIde">
                      Numero de Documento: <span class="text-xs">*</span>
                    </label>
                    <input id="docIde" pInputText formControlName="docIde" />
                    <div
                      *ngIf="
                        formDataAtencion.controls.docIde.invalid &&
                        formDataAtencion.controls.docIde.touched
                      "
                    >
                      <small
                        *ngIf="formDataAtencion.controls.docIde.errors?.['required']"
                        >El numero de documento es requerido.</small
                      >
                    </div>
                  </div>
                  <div class="flex flex-col gap-2">
                    <label class="text-sm font-medium" for="detail">
                      Detalle de la atención:
                    </label>
                    <textarea
                      id="detail"
                      rows="2"
                      cols="30"
                      pTextarea
                      formControlName="detail"
                    ></textarea>
                  </div>
                </div>
              </p-fieldset>
              <div class="flex justify-end gap-4">
                <div class="flex gap-2">
                  <btn-custom
                    *ngIf="isInWrap"
                    label="Solo finalizar atención"
                    severity="danger"
                    icon="tdesign:call-off-filled"
                    [text]="false"
                    (click)="endAssistance()"
                  />
                  <button-save
                    [label]="isInCall ? 'Guardar' : 'Guardar y finalizar'"
                    [loading]="loading"
                    [disabled]="formDataAtencion.invalid"
                    (click)="onSubmitAtencion()"
                  />
                </div>
              </div>
            </form>
          </p-card>
        </div>
      </div>

      <!-- SECCION - SECCION - SECCION - SECCION -SECCION - SECCION - SECCION - SECCION - SECCION - SECCION - SECCION - SECCION - -->
    </ng-container>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="flex items-center justify-center">
      <h4 *ngIf="!isAloSat">Modulo exclusivo de AlóSAT</h4>
      <form
        *ngIf="isAloSat"
        [formGroup]="formData"
        class="flex justify-center items-center gap-2"
      >
        <div class="w-full flex items-center gap-2">
          <label class="text-sm font-medium" for="idCampaign"> Campaña </label>
          <p-select
            id="idCampaign"
            [options]="listCampaigns"
            optionValue="campaign_id"
            optionLabel="campaign_name"
            formControlName="idCampaign"
            placeholder="Seleccione..."
            styleClass="w-42 text-sm"
            appendTo="body"
          >
            <ng-template #selectedItem let-selectedOption>
              <div
                class="flex items-center gap-2 uppercase"
                *ngIf="selectedOption"
              >
                <div>{{ selectedOption.campaign_name }}</div>
              </div>
            </ng-template>
            <ng-template let-option #item>
              <div class="flex items-center gap-2 uppercase">
                <div>{{ option.campaign_name }}</div>
              </div>
            </ng-template>
          </p-select>
        </div>
        <div class="flex items-center gap-2">
          <!-- <btn-custom
            [text]="false"
            icon="lucide:refresh-ccw"
            severity="primary"
            tooltip="Recargar campañas"
            (click)="this.getCampaigns()"
          /> -->
          <btn-custom
            [label]="'Conectar'"
            [text]="false"
            severity="primary"
            [showIcon]="false"
            [loading]="loading"
            [disabled]="formData.invalid"
            (click)="onSubmit()"
          />
        </div>
      </form>
    </div>
  </ng-template>

  <p-card>
    <ng-template #header>
      <div class="px-5 pt-4 grid grid-cols-1 gap-2">
        <div>
          <h1 class="text-2xl font-bold text-gray-800">
            Sistema de Consulta Unificada
          </h1>
          <p class="text-sm text-gray-600">
            Consulta toda la información de contribuyentes de manera
            centralizada
          </p>
        </div>
        <div class="w-full border-t"></div>
      </div>
    </ng-template>

    <div class="grid grid-cols-1 gap-4">
      <div class="grid grid-cols-2 gap-2">
        <div class="space-y-1">
          <div *ngIf="existCitizen" class="flex items-center gap-2">
            <iconify-icon
              icon="mdi:account-circle"
              class="text-3xl text-sky-600"
            ></iconify-icon>
            <h2 class="text-lg font-bold text-gray-800">
              {{ citizen?.vcontacto }}
            </h2>
          </div>
          <div
            *ngIf="existCitizen"
            class="flex flex-wrap items-center gap-4 text-sm text-gray-600"
          >
            <p>
              <span class="font-medium">{{ citizen?.vtipDoc }}</span>
              {{ citizen?.vdocIde }}
            </p>
            <p>
              <iconify-icon icon="mdi:phone" class="text-base"></iconify-icon>
              {{ callInfo?.phoneNumber ?? lastCallInfo?.phoneNumber }}
            </p>
          </div>
        </div>
        <div class="flex justify-end items-center gap-2">
          <p-iconfield>
            <p-inputicon>
              <iconify-icon [icon]="'lucide:search'" />
            </p-inputicon>
            <input
              type="text"
              pInputText
              placeholder="Buscar por DNI o RUC"
              pSize="small"
              [(ngModel)]="searchText"
            />
          </p-iconfield>

          <p-button
            severity="contrast"
            size="small"
            (click)="search()"
            label="Filtrar"
          />

          <p-button
            severity="secondary"
            variant="outlined"
            size="small"
            (click)="clear()"
            label="Limpiar"
          />
        </div>
      </div>
      <p-tabs [value]="tabSelected">
        <p-tablist>
          <p-tab [value]="0" class="flex items-center">
            <span>Deudas</span></p-tab
          >
          <p-tab [value]="1" class="flex items-center">
            <span>Trámites y solicitudes</span>
          </p-tab>
          <!-- <p-tab [value]="2" class="flex items-center">
                <span>Medidas</span>
              </p-tab>
              <p-tab [value]="3" class="flex items-center">
                <span>Declaraciones</span>
              </p-tab>
              <p-tab [value]="4" class="flex items-center">
                <span>Notificaciones</span>
              </p-tab> -->
          <p-tab [value]="5" class="flex items-center">
            <span>Comunicaciones</span>
            <!-- 20101279554 -->
            <!-- 20608720694 -->
          </p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel [value]="0">
            <div class="grid grid-cols-1 gap-2">
              <div class="grid grid-cols-3 gap-2">
                <p-select
                  id="idResultado"
                  [options]="listtypeDeuda"
                  optionLabel="label"
                  optionValue="code"
                  [(ngModel)]="typeDeuda"
                  appendTo="body"
                />
                <p-select
                  *ngIf="typeDeuda == 1"
                  id="idResultado"
                  [options]="listtypeTributo"
                  optionLabel="label"
                  optionValue="code"
                  [(ngModel)]="typeTributo"
                  appendTo="body"
                />
              </div>

              <ng-container *ngIf="typeDeuda == 1">
                <p-table
                  *ngIf="typeTributo == 1"
                  [value]="tableImpuestoPredial"
                  [responsiveLayout]="'scroll'"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          N° documento
                        </div>
                      </th>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          Fecha vencimiento
                        </div>
                      </th>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          Estado de la deuda
                        </div>
                      </th>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          Monto de la deuda
                        </div>
                      </th>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          Cuota doc de deuda
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item>
                    <tr>
                      <td>
                        <p class="text-sm font-light">
                          {{ item?.documento }}
                        </p>
                      </td>
                      <td>
                        <p class="text-sm font-light">
                          {{ item?.fechavencimiento }}
                        </p>
                      </td>
                      <td>
                        <p class="text-sm font-light">
                          {{ item?.estado }}
                        </p>
                      </td>
                      <td>
                        <p class="text-sm font-light text-center">
                          {{ item?.monto | currency }}
                        </p>
                      </td>
                      <td>
                        <p class="text-sm font-light text-center">
                          {{ item?.cuota }}
                        </p>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="100" class="text-center p-6">
                        <div class="flex flex-col items-center text-gray-500">
                          <i
                            class="pi pi-folder-open text-6xl text-gray-400"
                          ></i>
                          <p class="text-sm font-medium mt-3">
                            Sin registro de deudas
                          </p>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <p-table
                  *ngIf="typeTributo == 2"
                  [value]="tableImpuestoVehicular"
                  [responsiveLayout]="'scroll'"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          N° documento
                        </div>
                      </th>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          Fecha vencimiento
                        </div>
                      </th>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          Estado de la deuda
                        </div>
                      </th>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          Monto de la deuda
                        </div>
                      </th>
                      <th>
                        <div
                          class="flex justify-center items-center text-xs uppercase gap-4"
                        >
                          Cuota doc de deuda
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item>
                    <tr>
                      <td>
                        <p class="text-sm font-light">
                          {{ item?.documento }}
                        </p>
                      </td>
                      <td>
                        <p class="text-sm font-light">
                          {{ item?.fechavencimiento }}
                        </p>
                      </td>
                      <td>
                        <p class="text-sm font-light">
                          {{ item?.estado }}
                        </p>
                      </td>
                      <td>
                        <p class="text-sm font-light text-center">
                          {{ item?.monto | currency }}
                        </p>
                      </td>
                      <td>
                        <p class="text-sm font-light text-center">
                          {{ item?.cuota }}
                        </p>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="100" class="text-center p-6">
                        <div class="flex flex-col items-center text-gray-500">
                          <i
                            class="pi pi-folder-open text-6xl text-gray-400"
                          ></i>
                          <p class="text-sm font-medium mt-3">
                            Sin registro de deudas
                          </p>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </ng-container>

              <p-table
                *ngIf="typeDeuda == 2"
                [value]="tablePapeletas"
                [responsiveLayout]="'scroll'"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        N° documento
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Placa
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Fecha de infracción
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Monto de la deuda
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Estado de la deuda
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Fecha de vencimiento
                      </div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td>
                      <p class="text-sm font-light">
                        {{ item?.cnumDoc }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light">
                        {{ item?.cplaca }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light">
                        {{ item?.cfecInf.trim() }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light text-center">
                        {{ item?.monto | currency }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light text-center">
                        {{ item?.estado }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light text-center">
                        {{ item?.cfecVen.trim() }}
                      </p>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="100" class="text-center p-6">
                      <div class="flex flex-col items-center text-gray-500">
                        <i class="pi pi-folder-open text-6xl text-gray-400"></i>
                        <p class="text-sm font-medium mt-3">
                          Sin registro de deudas
                        </p>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

              <p-table
                *ngIf="typeDeuda == 3"
                [value]="tableDeudas"
                [responsiveLayout]="'scroll'"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Docum. de deuda
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Fecha de notificación
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Monto de deuda
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Estado de la deuda
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Gastos administrativos
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Costos
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Descuentos
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Abonos realizados
                      </div>
                    </th>
                    <th>
                      <div
                        class="flex justify-center items-center text-xs uppercase gap-4"
                      >
                        Total
                      </div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td>
                      <p class="text-sm font-light">
                        {{ item?.cnumDoc }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light">
                        {{ item?.sdFecInf }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light">
                        {{ item?.monto }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light text-center">
                        {{ item?.estado }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light text-center">
                        {{ item?.gasto }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light text-center">
                        {{ item?.costo }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light text-center">
                        {{ item?.abonos }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light text-center">
                        {{ item?.etapa_Cobranza }}
                      </p>
                    </td>
                    <td>
                      <p class="text-sm font-light text-center">
                        {{ item?.compromiso_pago }}
                      </p>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="100" class="text-center p-6">
                      <div class="flex flex-col items-center text-gray-500">
                        <i class="pi pi-folder-open text-6xl text-gray-400"></i>
                        <p class="text-sm font-medium mt-3">
                          Sin registro de deudas
                        </p>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabpanel>
          <p-tabpanel [value]="1">
            <p-table [value]="tableTramites" [responsiveLayout]="'scroll'">
              <ng-template pTemplate="header">
                <tr>
                  <th>
                    <div
                      class="flex justify-center items-center text-xs uppercase gap-4"
                    >
                      N° trámite
                    </div>
                  </th>
                  <th>
                    <div
                      class="flex justify-center items-center text-xs uppercase gap-4"
                    >
                      Fecha de presentación
                    </div>
                  </th>
                  <th>
                    <div
                      class="flex justify-center items-center text-xs uppercase gap-4"
                    >
                      Tipo de trámite
                    </div>
                  </th>
                  <th>
                    <div
                      class="flex justify-center items-center text-xs uppercase gap-4"
                    >
                      Estado del trámite
                    </div>
                  </th>
                  <th>
                    <div
                      class="flex justify-center items-center text-xs uppercase gap-4"
                    >
                      Ubicación del trámite
                    </div>
                  </th>
                  <th>
                    <div
                      class="flex justify-center items-center text-xs uppercase gap-4"
                    >
                      Fecha de doc. de respuesta
                    </div>
                  </th>
                  <th>
                    <div
                      class="flex justify-center items-center text-xs uppercase gap-4"
                    >
                      Documento de respuesta
                    </div>
                  </th>
                  <th>
                    <div
                      class="flex justify-center items-center text-xs uppercase gap-4"
                    >
                      Materia
                    </div>
                  </th>
                  <th>
                    <div
                      class="flex justify-center items-center text-xs uppercase gap-4"
                    >
                      Tipo de canal
                    </div>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>
                    <p class="text-sm font-light">
                      {{ item?.numTramite }}
                    </p>
                  </td>
                  <td>
                    <p class="text-sm font-light">
                      {{ item?.fecha_Tramite }}
                    </p>
                  </td>
                  <td>
                    <p class="text-sm font-light">
                      {{ item?.tipo_Tramite }}
                    </p>
                  </td>
                  <td>
                    <p class="text-sm font-light text-center">
                      {{ item?.estado_Tramite }}
                    </p>
                  </td>
                  <td>
                    <p class="text-sm font-light text-center">
                      {{ item?.agencia }}
                    </p>
                  </td>
                  <td>
                    <p class="text-sm font-light text-center">
                      {{ item?.fecha_Resolucion }}
                    </p>
                  </td>
                  <td>
                    <p class="text-sm font-light text-center">
                      {{ item?.resultado_Resolucion }}
                    </p>
                  </td>
                  <td>
                    <p class="text-sm font-light text-center">
                      {{ item?.concepto_Deuda }}
                    </p>
                  </td>
                  <td>
                    <p class="text-sm font-light text-center">
                      {{ item?.procedimiento }}
                    </p>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="100" class="text-center p-6">
                    <div class="flex flex-col items-center text-gray-500">
                      <i class="pi pi-folder-open text-6xl text-gray-400"></i>
                      <p class="text-sm font-medium mt-3">
                        Sin registro de trámites o solicitudes
                      </p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabpanel>
          <p-tabpanel [value]="2"> </p-tabpanel>
          <p-tabpanel [value]="3"> </p-tabpanel>
          <p-tabpanel [value]="4"> </p-tabpanel>
          <p-tabpanel [value]="5">
            <p-tabs [value]="0">
              <p-tablist>
                <p-tab [value]="0" class="flex items-center">
                  <span>Atenciones por carteras</span></p-tab
                >
                <p-tab [value]="1" class="flex items-center">
                  <span>Atenciones por canales</span>
                </p-tab>
              </p-tablist>
              <p-tabpanels>
                <p-tabpanel [value]="0">
                  <p-table
                    [value]="tableComunicaciones"
                    [responsiveLayout]="'scroll'"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Fecha/Hora
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Tipo
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Canal
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Método
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Contacto Usado
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Resultado
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Usuario
                          </div>
                        </th>

                        <th></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                      <tr>
                        <td>
                          <p class="text-sm text-center font-light">
                            {{ item?.createdAt | date : "dd/MM/yyyy hh:ss a" }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm text-center font-light">
                            {{ item?.type }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm text-center font-light">
                            {{ item?.channel }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm font-light text-center">
                            {{ item?.method }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm font-light text-center">
                            {{ item?.contact }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm font-light text-center">
                            {{ item?.result }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm font-light text-center">
                            {{ item?.createdByUser?.name }}
                          </p>
                        </td>
                        <td>
                          <div class="flex justify-center">
                            <btn-custom
                              severity="success"
                              icon="lucide:eye"
                              tooltip="Mostrar información del caso"
                              [disabled]="!item.informacionCaso"
                              (click)="showInfoCaso(item)"
                            />
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="100" class="text-center p-6">
                          <div class="flex flex-col items-center text-gray-500">
                            <i
                              class="pi pi-folder-open text-6xl text-gray-400"
                            ></i>
                            <p class="text-sm font-medium mt-3">
                              Sin comunicaciones
                            </p>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-tabpanel>
                <p-tabpanel [value]="1">
                  <p-table
                    [value]="tableChannelAssistances"
                    [responsiveLayout]="'scroll'"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Fecha/Hora
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Tipo de consulta
                          </div>
                        </th>

                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Canal
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Contacto
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Detalle
                          </div>
                        </th>
                        <th>
                          <div
                            class="flex justify-center items-center text-xs uppercase gap-4"
                          >
                            Usuario
                          </div>
                        </th>

                        <th></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                      <tr>
                        <td>
                          <p class="text-sm text-center font-light">
                            {{ item?.createdAt | date : "dd/MM/yyyy hh:ss a" }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm text-center font-light">
                            {{ item?.consultType?.name }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm text-center font-light">
                            {{ item?.categoryChannel?.name }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm font-light text-center">
                            {{ item?.citizen?.name }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm font-light text-center">
                            {{ item?.detail }}
                          </p>
                        </td>
                        <td>
                          <p class="text-sm font-light text-center">
                            {{ item?.createdByUser?.name }}
                          </p>
                        </td>
                        <td>
                          <div class="flex justify-center">
                            <btn-custom
                              severity="success"
                              icon="lucide:eye"
                              tooltip="Mostrar información del caso"
                              [disabled]="!item.informacionCaso"
                              (click)="showInfoCaso(item)"
                            />
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="100" class="text-center p-6">
                          <div class="flex flex-col items-center text-gray-500">
                            <i
                              class="pi pi-folder-open text-6xl text-gray-400"
                            ></i>
                            <p class="text-sm font-medium mt-3">
                              Sin comunicaciones
                            </p>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-tabpanel>
              </p-tabpanels>
            </p-tabs>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </p-card>

  <!-- Enlaces Directos SAT -->
  <div class="w-full bg-white rounded-md shadow-xl p-4">
    <h2 class="text-lg font-semibold border-b pb-2 mb-4 text-sky-700">
      Enlaces Directos SAT
    </h2>

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 py-2">
      <p-button
        size="small"
        label="Intranet SAT"
        [raised]="true"
        (click)="addNew()"
        styleClass="w-full !rounded-full !shadow-none"
        severity="info"
      >
        <iconify-icon
          [icon]="'tabler:square-rounded-letter-w'"
          class="text-xl"
        />
      </p-button>

      <p-button
        size="small"
        label="SGD"
        severity="info"
        (click)="addNew()"
        styleClass="w-full !rounded-full !shadow-none"
        [raised]="true"
      >
        <iconify-icon
          [icon]="'tabler:square-rounded-letter-d'"
          class="text-xl"
        />
      </p-button>

      <p-button
        size="small"
        label="SIAT"
        severity="info"
        (click)="addNew()"
        styleClass="w-full !rounded-full !shadow-none"
        [raised]="true"
      >
        <iconify-icon
          [icon]="'tabler:square-rounded-letter-s'"
          class="text-xl"
        />
      </p-button>

      <p-button
        size="small"
        label="Web SAT"
        severity="info"
        (click)="addNew()"
        styleClass="w-full !rounded-full !shadow-none"
        [raised]="true"
      >
        <iconify-icon
          [icon]="'tabler:square-rounded-letter-w'"
          class="text-xl"
        />
      </p-button>
    </div>
  </div>
</div>
