<div class="grid grid-cols-1 gap-6">
  <p-table
    [value]="permissions"
    sortMode="single"
    [scrollable]="true"
    scrollHeight="calc(100vh - 240px)"
    rowGroupMode="subheader"
    groupRowsBy="idParent"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template #header>
      <tr>
        <th><div class="text-center text-xs uppercase">Módulo</div></th>
        <th class="w-28">
          <div class="text-center text-xs uppercase">Todos</div>
        </th>
        <th class="w-28">
          <div class="text-center text-xs uppercase">Leer</div>
        </th>
        <th class="w-28">
          <div class="text-center text-xs uppercase">Crear</div>
        </th>
        <th class="w-28">
          <div class="text-center text-xs uppercase">Editar</div>
        </th>
        <th class="w-28">
          <div class="text-center text-xs uppercase">Eliminar</div>
        </th>
      </tr>
    </ng-template>
    <ng-template #groupheader let-item>
      <tr pRowGroupHeader>
        <td colspan="5">
          <div class="flex items-center gap-2">
            <span class="text-sm font-bold uppercase">{{
              item.parent?.name
            }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #body let-item let-rowIndex="rowIndex">
      <tr>
        <td>
          <span class="text-sm capitalize">{{ item.name }}</span>
        </td>
        <td>
          <div class="flex justify-center items-center gap-2">
            <p-checkbox
              [(ngModel)]="item.markAll"
              [binary]="true"
              (ngModelChange)="selectAll(item)"
            />
          </div>
        </td>
        <td>
          <div class="flex justify-center items-center gap-2">
            <p-checkbox
              [(ngModel)]="item.canRead"
              [binary]="true"
              (ngModelChange)="checkMarkRead($event, item)"
            />
          </div>
        </td>
        <td>
          <div class="flex justify-center items-center gap-2">
            <p-checkbox
              [(ngModel)]="item.canCreate"
              [binary]="true"
              (ngModelChange)="checkMarkAll(item)"
            />
          </div>
        </td>
        <td>
          <div class="flex justify-center items-center gap-2">
            <p-checkbox
              [(ngModel)]="item.canUpdate"
              [binary]="true"
              (ngModelChange)="checkMarkAll(item)"
            />
          </div>
        </td>
        <td>
          <div class="flex justify-center items-center gap-2">
            <p-checkbox
              [(ngModel)]="item.canDelete"
              [binary]="true"
              (ngModelChange)="checkMarkAll(item)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="flex justify-end gap-2">
    <button-cancel (click)="onCancel()" />
    <button-save
      [label]="'Actualizar permisos'"
      [loading]="loading"
      (click)="onSubmit()"
    />
  </div>
</div>
