<div class="grid grid-cols-1 gap-4">
  <div>
    <p-datepicker
      [iconDisplay]="'input'"
      [showIcon]="true"
      inputId="startDate"
      [(ngModel)]="dateSelected"
      placeholder="Seleccione el día..."
      styleClass="!rounded-full !w-full"
      inputStyleClass="!rounded-full !w-full"
      class="!rounded-full !w-full"
      (ngModelChange)="changeDate($event)"
      appendTo="body"
    />
  </div>
  <div>
    <p-select
      [options]="portfolioList()"
      [(ngModel)]="portfolioId"
      optionLabel="name"
      optionValue="id"
      placeholder="Seleccione la cartera..."
      class="!rounded-full !w-full"
      appendTo="body"
      [filter]="true"
    ></p-select>
  </div>
  <div class="flex justify-end gap-2">
    <btn-custom
      label="Cancelar"
      severity="danger"
      icon="ooui:cancel"
      [text]="false"
      (click)="onCancel()"
    />
    <btn-custom
      [disabled]="invalid"
      label="Confirmar"
      severity="primary"
      icon="mingcute:check-2-fill"
      [text]="false"
      (click)="onSubmit()"
    />
  </div>
</div>
