<form
  [formGroup]="formData"
  (ngSubmit)="onSubmit()"
  class="grid grid-cols-1 gap-6"
>
  <div class="flex flex-col gap-4">
    <div class="flex items-center gap-2">
      <label class="text-sm font-medium" for="displayNameUser">
        Estado Actual
      </label>
      <p-tag severity="success" value="Disponible para llamadas" />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="idMotivoPausa">
        Seleccione el motivo de la pausa <span class="text-xs">*</span>
      </label>
      <p-select
        id="idMotivoPausa"
        [options]="listaMotivos"
        optionLabel="name"
        optionValue="code"
        formControlName="pauseCode"
        placeholder="Seleccione el motivo"
        styleClass="text-sm"
        appendTo="body"
      />
    </div>
  </div>
  <div class="flex justify-end gap-4">
    <p-button
      severity="danger"
      size="small"
      type="button"
      label="Cancelar"
      (click)="onCancel()"
      styleClass="!rounded-full !shadow-none"
    >
      <iconify-icon [icon]="'ooui:cancel'" class="text-xl" />
    </p-button>
    <p-button
      severity="info"
      size="small"
      type="submit"
      [label]="'Confirmar'"
      [disabled]="formData.invalid"
      styleClass="!rounded-full !shadow-none"
    >
      <iconify-icon [icon]="'mingcute:check-2-fill'" class="text-xl" />
    </p-button>
  </div>
</form>
