<div class="grid grid-cols-1 gap-4">
  <!-- Encabezado -->
  <div class="bg-gray-50 shadow rounded-xl p-4">
    <div class="flex justify-between items-center">
      <div>
        <app-title-sat />
      </div>
      <button-save
        [label]="createButtonLabel"
        [icon]="'mdi:plus-circle-outline'"
        (click)="addNew()"
      />
    </div>
  </div>

  <section class="grid grid-cols-1 gap-2">
    <p-card>
      <p-table
        [value]="listUsers"
        [scrollable]="true"
        scrollHeight="calc(100vh - 19.5rem)"
      >
        <ng-template #header>
          <tr>
            <th>
              <div class="flex justify-start items-center text-xs uppercase">
                Nombre
              </div>
            </th>
            <th>
              <div class="flex justify-center items-center text-xs uppercase">
                Rol
              </div>
            </th>
            <th>
              <div class="flex justify-center items-center text-xs uppercase">
                Cuenta verificada
              </div>
            </th>
            <th>
              <div class="flex justify-center items-center text-xs uppercase">
                Habilidades
              </div>
            </th>
            <th>
              <div class="flex justify-center items-center text-xs uppercase">
                Canales
              </div>
            </th>
            <th>
              <div class="flex justify-center items-center text-xs uppercase">
                VICIdial
              </div>
            </th>
            <th class="w-28">
              <div
                class="flex justify-center items-center text-xs uppercase"
              ></div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-item>
          <tr>
            <td>
              <div class="flex items-center min-w-64 gap-2">
                <div class="!w-8">
                  <p-avatar class="bg-slate-200" size="normal" shape="circle">
                    <p-image
                      *ngIf="item.avatarUrl"
                      [src]="item.avatarUrl"
                      [alt]="item.name"
                    />
                    <span class="font-bold text-sm" *ngIf="!item.avatarUrl">
                      {{ getInitial(item) }}
                    </span>
                  </p-avatar>
                </div>

                <div class="flex flex-col">
                  <h5 class="font-semibold text-base">{{ item.name }}</h5>
                  <p class="text-sm font-light">
                    {{ item.email }}
                  </p>
                  <p class="text-xs font-light italic">
                    {{ item.office?.name }}
                  </p>
                </div>
              </div>
            </td>
            <td>
              <div
                class="flex justify-center items-center text-base capitalize"
              >
                {{ item.role?.name }}
              </div>
            </td>
            <td>
              <div
                class="flex justify-center items-center text-sm font-light capitalize italic"
              >
                {{ item.verify ? "Verificado" : "	Verificación pendiente" }}
              </div>
            </td>
            <td class="w-24">
              <div class="flex justify-center items-center gap-1">
                <p-overlaybadge
                  [value]="item.skills?.length"
                  severity="info"
                  badgeSize="small"
                >
                  <btn-custom
                    severity="contrast"
                    icon="lucide:stars"
                    tooltip="Asignar habilidades"
                    (click)="assignmentSkills(item)"
                  />
                </p-overlaybadge>
              </div>
            </td>
            <td class="w-24">
              <div class="flex justify-center items-center gap-1">
                <btn-custom
                  *ngIf="!isAloSat(item)"
                  severity="contrast"
                  icon="fluent:channel-share-12-regular"
                  tooltip="Asignar canales"
                  [disabled]="true"
                />
                <p-overlaybadge
                  *ngIf="isAloSat(item)"
                  [value]="item.inboxes?.length"
                  severity="info"
                  badgeSize="small"
                >
                  <btn-custom
                    severity="contrast"
                    icon="fluent:channel-share-12-regular"
                    tooltip="Asignar canales"
                    (click)="assignmentInboxes(item)"
                  />
                </p-overlaybadge>
              </div>
            </td>
            <td class="w-16">
              <div class="flex justify-center items-center gap-1">
                <div
                  *ngIf="!item.vicidial"
                  class="p-0.5"
                  pTooltip="Credenciales VICIdial"
                  tooltipPosition="top"
                  tooltipStyleClass="!text-xs text-center !font-normal !p-0"
                >
                  <iconify-icon icon="lucide:phone-call" class="text-lg" />
                </div>
                <p-overlaybadge *ngIf="item.vicidial" severity="info">
                  <div
                    class="p-0.5 cursor-pointer"
                    pTooltip="Credenciales VICIdial"
                    tooltipPosition="top"
                    tooltipStyleClass="!text-xs text-center !font-normal !p-0"
                    (click)="vicidialParams(item)"
                  >
                    <iconify-icon icon="lucide:phone-call" class="text-lg" />
                  </div>
                </p-overlaybadge>
              </div>
            </td>
            <td class="w-28">
              <div class="flex justify-center items-center gap-1">
                <button-edit (click)="edit(item)" />
                <btn-delete (click)="remove(item)" />
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100">
              <div class="text-center text-sm font-light p-4">
                No hay usuarios creados.
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #footer>
          <tr>
            <td colspan="100">
              <div class="flex justify-center items-center">
                <sat-paginator
                  [totalItems]="totalItems"
                  [limit]="limit()"
                  [offset]="offset()"
                  [limitOptions]="[10, 25, 50]"
                  (pageChange)="onPageChange($event)"
                />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </section>
</div>
