<div class="grid grid-cols-1 gap-4">
  <!-- Encabezado -->
  <div class="bg-gray-50 shadow rounded-xl p-4">
    <div class="flex justify-between items-center">
      <div>
        <app-title-sat />
      </div>
      <button-save
        [label]="createButtonLabel"
        [icon]="'mdi:plus-circle-outline'"
        (click)="addNew()"
      />
    </div>
  </div>

  <section class="h-[calc(100vh-17rem)] overflow-y-auto">
    <complete-table
      [cols]="cols"
      [orderBy]="orderBy"
      [dataTable]="dataTable"
      [total]="totalItems"
      [limit]="limit()"
      [offset]="offset()"
      (actionClicked)="onTableAction($event)"
      (searchChange)="searchChange($event)"
    />
  </section>
</div>
