<div class="w-full flex justify-center">
  <div class="w-full p-0">
    <p-fieldset legend="Filtros">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <p-select
          [options]="listSectorista"
          [(ngModel)]="selectSectorista"
          optionLabel="name"
          optionValue="name"
          (onChange)="filtrar()"
          placeholder="Seleccionar un Sectorista"
          class="w-full"
          styleClass="placeholder:text-sm"
          appendTo="body"
        />
        <p-select
          [options]="listSegmentos"
          [(ngModel)]="selectSegmento"
          optionLabel="name"
          optionValue="name"
          (onChange)="filtrar()"
          placeholder="Seleccionar un Segmento"
          class="w-full"
          appendTo="body"
        />
        <p-select
          [options]="listPerfil"
          [(ngModel)]="selectPerfil"
          optionLabel="name"
          optionValue="name"
          (onChange)="filtrar()"
          placeholder="Seleccionar un Perfil"
          class="w-full"
          appendTo="body"
        />

        <div>
          <p-slider
            [(ngModel)]="rangoPrecio"
            [range]="true"
            [min]="0"
            [max]="100000"
            [step]="10"
            styleClass="w-14rem mt-4"
            (onChange)="filtrar()"
          ></p-slider>

          <p class="text-sm text-gray-600 mt-2 text-center">
            Deudas: {{ rangoPrecio[0] }} - {{ rangoPrecio[1] }}
          </p>
        </div>

        <!-- <div class="p-fluid">
          <p-datepicker
            [(ngModel)]="filtroRangoFecha"
            selectionMode="multiple"
            [readonlyInput]="true"
            dateFormat="dd/mm/yy"
            placeholder="Rango de fecha atención"
            (ngModelChange)="onRangoFechaChange($event)"
            appendTo="body"
            [showIcon]="true"
          ></p-datepicker>
        </div> -->
        <input
          type="text"
          pInputText
          [(ngModel)]="filtroNombre"
          placeholder="Buscar por Contribuyente/Código..."
          class="w-full p-inputtext-sm"
          (input)="filtrar()"
        />

        <button
          pButton
          type="button"
          class="p-button-secondary"
          (click)="limpiarFiltro()"
        >
          Limpiar Filtros
        </button>
      </div>
    </p-fieldset>

    <div class="bg-white shadow rounded-xl p-4 mb-4">
      <div class="card flex justify-between items-center flex-wrap gap-4">
        <!-- Radios a la izquierda -->
        <div class="flex flex-wrap gap-4">
          <div class="flex items-center" *ngFor="let item of tipoList">
            <p-radiobutton
              [value]="item.value"
              [(ngModel)]="tipoAsignacion"
              [inputId]="'tipoAsignacion' + item.value"
              (onChange)="toggleSeleccion(item.value)"
            />
            <label
              [for]="'tipoAsignacion' + item.value"
              class="pt-1 pl-2 cursor-pointer"
            >
              {{ item.label }}
            </label>
          </div>
        </div>

        <!-- Botón a la derecha -->
        <div>
          <p-button
            *ngIf="tipoAsignacion"
            severity="contrast"
            size="small"
            (click)="mostrarRegistro()"
          >
            <iconify-icon [icon]="'gravity-ui:gear'" class="text-lg" />
            {{ labelAsignacion }}
          </p-button>
        </div>
      </div>
    </div>

    <p-table
      [value]="detalleCarteraFiltrado"
      [(selection)]="selectedRows"
      [paginator]="true"
      [rows]="10"
      [responsiveLayout]="'scroll'"
      sortMode="multiple"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>

          <th>
            <div class="flex items-center text-xs uppercase gap-4">
              Sectorista
            </div>
          </th>
          <th>
            <div class="flex items-center text-xs uppercase gap-4">
              Segmento
            </div>
          </th>
          <th>
            <div class="flex items-center text-xs uppercase gap-4">Perfil</div>
          </th>
          <th>
            <div class="flex items-center text-xs uppercase gap-4">
              Contribuyente
            </div>
          </th>
          <th>
            <div class="flex items-center text-xs uppercase gap-4">
              Tipo Contribuyente
            </div>
          </th>
          <th>
            <div class="flex items-center text-xs text-center uppercase gap-4">
              Codigo Contribuyente
            </div>
          </th>
          <th>
            <div class="flex items-center text-xs text-center uppercase gap-4">
              Tipo Doc. Ide.
            </div>
          </th>
          <th>
            <div class="flex items-center text-xs text-center uppercase gap-4">
              N° Doc. Ide.
            </div>
          </th>
          <th>
            <div class="flex items-center text-xs uppercase gap-4">Deuda</div>
          </th>
          <th>
            <div
              class="flex justify-center items-center text-xs uppercase gap-4"
            >
              Email
            </div>
          </th>
          <th>
            <div class="flex items-center text-xs uppercase gap-4">
              WhatsApp
            </div>
          </th>

          <th>
            <div class="flex items-center text-xs uppercase gap-4">Tel. 1</div>
          </th>
          <th>
            <div class="flex items-center text-xs uppercase gap-4">Tel. 2</div>
          </th>
          <th>
            <div class="flex items-center text-xs uppercase gap-4">Tel. 3</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td>
            <p class="text-sm font-light"></p>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>

          <td>
            <p class="text-sm font-light">{{ row.user?.name }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.segment }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.profile }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.taxpayerName }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.taxpayerType }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.code }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.tipDoc }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.docIde }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.debt | currency }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.user.email || "-" }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.whatsapp || "-" }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.phone1 || "-" }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.phone2 || "-" }}</p>
          </td>
          <td>
            <p class="text-sm font-light">{{ row.phone3 || "-" }}</p>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="15" class="py-6">
            <div class="flex flex-col items-center justify-center text-center">
              <i class="pi pi-search text-gray-400 text-2xl mb-2"></i>
              <span class="text-gray-500 text-base font-medium">
                No se encontraron resultados para los filtros seleccionados.
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
