<div  class="w-full flex justify-center">
    <div class="w-full p-0">

      <div class="bg-white shadow rounded-xl p-4 mb-4"  >
                <h2 class="text-lg font-medium ">Validación de Datos <span class="text-gray-500">(Opcional)</span></h2>
                <label for="tts" class="block mb-1 font-medium">Speech/Texto para el audio<span class="text-red-500">*</span></label>
                <textarea id="tts" [(ngModel)]="ttsText" rows="4" maxlength="1000" class="w-full border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200 focus:outline-none"
                    placeholder="Escribe el texto para convertir a audio...">
                </textarea>
              
                <div class="text-sm text-gray-500 mt-1">Caracteres: {{ ttsText.length }}/1000</div>
                
                <div class="flex justify-between items-center mt-4 bg-gray-100 p-4 rounded shadow">
                  <div class="flex items-center gap-3">
                      <button *ngIf="!audioUrl"  class="ml-4 w-72"  (click)="reproducirTexto()" class="mt-4 px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-800 transition">
                        Generar Audio TTS
                      </button>
                      <button 
                          *ngIf="audioUrl"
                          class="ml-4 w-72 mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-900 transition flex justify-center items-center"
                          (click)="CargarVicidial()"
                          [disabled]="loading"
                        >
                          <ng-container *ngIf="!loading; else loadingTemplate">
                            Cargar en Vicidial
                          </ng-container>

                          <ng-template #loadingTemplate>
                            <svg class="animate-spin h-5 w-5 mr-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                              <path class="opacity-75" fill="currentColor"
                                d="M4 12a8 8 0 018-8v4l3-3-3-3v4a8 8 0 00-8 8h4l-3 3 3 3H4z"></path>
                            </svg>
                            Guardando...
                          </ng-template>
                      </button>
                  </div>
                  <div *ngIf="audioUrl" class="flex items-center gap-3">
                    <audio
                      [src]="audioUrl"
                      controls
                      class="w-72"
                    ></audio>
                    <p-button
                        size="small"
                        severity="info"
                        (click)="descargarAudio()"
                        styleClass="w-full"
                            [raised]="true"
                          >
                            <iconify-icon
                              [icon]="'lucide:arrow-big-down-dash'"
                              class="text-xl"
                            />
                    </p-button>
                  </div>
                </div>
                
        </div>

        <ng-container *ngIf="audioUrl">
                  <p-fieldset legend="Información básica">
                      <div class="grid grid-cols-1 gap-4">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                          <!-- Nombre -->
                          <div>
                              <label for="list_id" class="block text-sm font-medium mb-1"
                                >Id lista <span class="text-xs">*</span></label
                              >
                              <input
                                id="list_id"
                                type="number"
                                pInputText
                                placeholder="Ingrese un codigo"
                                class="w-full p-inputtext-sm"
                                [(ngModel)]="formlist.list_id"
                              />
                          </div>
                          <div>
                              <label for="list_name" class="block text-sm font-medium mb-1"
                                >Nombre lista <span class="text-xs">*</span></label
                              >
                              <input
                                id="list_name"
                                type="text"
                                pInputText
                                placeholder="Ingrese nombre"
                                class="w-full p-inputtext-sm"
                                [(ngModel)]="formlist.list_name"
                              />
                          </div>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
                          <div>
                              <label for="list_description" class="block text-sm font-medium mb-1"
                                >Descripción lista </label
                              >
                              <input
                                id="list_description"
                                type="text"
                                pInputText
                                placeholder="Ingrese nombre"
                                class="w-full p-inputtext-sm"
                                [(ngModel)]="formlist.list_description"
                              />
                          </div>
                        </div>
                      </div>
                  </p-fieldset>

        </ng-container>
        

   
        <div class="bg-white shadow rounded-xl p-4 mb-4" *ngIf="formlist.list_id" >
              <h2 class="text-lg font-medium ">Validación de Datos <span class="text-gray-500">(Opcional)</span></h2>
              <p class="mb-4 text-sm text-gray-600 flex items-center gap-3">
                <span>Sube el archivo <strong>Excel</strong> o <strong>CSV</strong> con los datos de los contribuyentes.</span>
                <button
                  type="button"
                  (click)="descargarPlantilla()"
                  class="flex items-center gap-1 px-3 py-1.5 text-sm text-white bg-green-600 hover:bg-green-700 rounded shadow">
                    <iconify-icon [icon]="'wpf:check-file'" class="text-lg" />
                    Descargar plantilla
                </button>
              </p>

              <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-2">
                    <ngx-file-drop
                      dropZoneLabel="Arrastra y suelta tu archivo aquí"
                      (onFileDrop)="onFileDropped($event)"
                      [multiple]="false"
                      [accept]="'.xlsx,.xls,.csv'"
                      class="drop-zone">
                    </ngx-file-drop>

                    <div class="mt-3 text-sm text-gray-600 flex items-center gap-3" *ngIf="nombreArchivo">
                      <span class="mb-0 me-2">Archivo cargado: <strong>{{ nombreArchivo }}  </strong></span>

                      <button
                        (click)="eliminarArchivo()"
                        class="flex items-center gap-1 px-3 py-1.5 text-sm text-white bg-red-600 hover:bg-red-700 rounded shadow">
                          <iconify-icon [icon]="'lucide:file-x'" class="text-lg" />
                          Eliminar
                      </button>
                    </div>
              </div>
        </div>

        
    <div class="pt-4 flex justify-end space-x-2" *ngIf="formlist.list_id">
        <button-cancel (click)="onCancel()" />
        <p-button
          (click)="guardarlead()"
          size="small"
          styleClass="w-full"
          severity="primary"
        >
          <iconify-icon [icon]="'ci:save'" class="text-xl" /> Guardar
        </p-button>
      </div>
    </div>

</div>
