<div class="w-full h-px bg-gray-300"></div>
<form [formGroup]="formData" class="p-6 space-y-4">
  <!-- Título -->
  <div>
    <label class="block text-sm font-medium text-gray-700 mb-1">Título</label>
    <input type="text" pInputText formControlName="title" class="w-full" />
  </div>

  <!-- Mensaje -->
  <div>
    <label class="block text-sm font-medium text-gray-700 mb-1">Mensaje</label>
    <p-editor formControlName="message" class="w-full h-120"></p-editor>
  </div>

  <!-- Inbox (ComboBox) -->
  <div>
    <label class="block text-sm font-medium text-gray-700 mb-1">Inbox</label>
    <p-dropdown
      [options]="inboxOptions"
      formControlName="inbox"
      optionLabel="label"
      optionValue="value"
      placeholder="Seleccione inbox"
      class="w-full" />
  </div>

  <!-- Tipo de envío (ComboBox) -->
  <div>
    <label class="block text-sm font-medium text-gray-700 mb-1">Tipo de envío</label>
    <p-dropdown
      [options]="shippingTypeOptions"
      formControlName="shipping_type"
      optionLabel="label"
      optionValue="value"
      placeholder="Seleccione tipo"
      class="w-full" />
  </div>

  <!-- URL -->
  <div>
    <label class="block text-sm font-medium text-gray-700 mb-1">URL</label>
    <input type="url" pInputText formControlName="url" class="w-full" />
  </div>

  <!-- Tiempo en página -->
  <div>
    <label class="block text-sm font-medium text-gray-700 mb-1">Tiempo en página</label>
    <input type="text" pInputText formControlName="time_page" placeholder="Ej: 10s o 1min" class="w-full" />
  </div>

  <!-- Habilitar campaña -->
  <div class="flex items-center space-x-2">
    <p-inputSwitch formControlName="enable_campaign"></p-inputSwitch>
    <label class="text-sm text-gray-700">Habilitar campaña</label>
  </div>

  <!-- Botón de enviar -->


   <div class="pt-4 flex justify-end space-x-2">
        <button
          pButton
          type="button"
          (click)="onCancel()"
          class="p-button-outlined text-[#16236e] border-[#0ea5e9] flex items-center gap-2"
        >
          <iconify-icon icon="lucide:ban" class="text-lg"></iconify-icon>
          Cancelar
        </button>

        <button
          type="submit"
          [disabled]="formData.invalid"
          class="bg-[#0ea5e9] text-white px-4 py-2 flex items-center gap-2 rounded hover:bg-[#0ea5e9] transition"
        >
          <iconify-icon icon="mdi:content-save-outline" class="text-lg"></iconify-icon>
          {{ id ? 'Actualizar' : 'Guardar' }}
        </button>
      </div>
</form>

