<div class="flex flex-col items-center justify-center h-screen text-center px-4">
  <!-- Imagen ilustrativa -->
  <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 24 24">
	<path fill="none" stroke="#373737" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8v3a1 1 0 0 0 1 1h3m0-4v8m10-8v3a1 1 0 0 0 1 1h3m0-4v8m-11-6v4a2 2 0 1 0 4 0m0-4a2 2 0 0 0-2-2M3 3l18 18" />
    </svg>

    <!-- Texto principal -->
    <h1 class="text-2xl font-semibold mb-2">Parece que esta página no existe :c</h1>

    <!-- Botón para volver -->
    <a
    routerLink="/"
    class="mt-6 bg-[#375f95] hover:bg-[#5b7fc2] active:bg-[#2c4872] text-white font-medium py-2 px-6 rounded-full transition-all duration-300 cursor-pointer"
    >
    Volver a la página principal</a>

</div>
